<html><body>

<p>A user has versioned a question. Details below:</p>

<?php
foreach ($data as $key => $value) {
?>

<div style="margin-top:10px;">
	<div style="font-weight:bold;"><?php echo $key; ?></div>
	<div><pre><?php print_r($value); ?></pre></div>
</div>

<?php
}
?>

</body></html>
