<html><body>

<p>A user has requested renewal of their account. They have now done this <?php echo $userData['expiry_warnings']; ?> times.</p>

<table rules="all" style="border-color: #666;" cellpadding="10"  width="400">

<tr style='background: #eee;'><td align='center' colspan='2'><strong>User information</strong> </td></tr>

<tr style=''><td width='150'><strong>Name</strong> </td><td><?php echo $userData['name']; ?></td></tr>
<tr style=''><td width='150'><strong>School</strong> </td><td><?php echo $userData['school']; ?></td></tr>
<tr style=''><td width='150'><strong>Email</strong> </td><td><a href='mailto:<?php echo $userData['email']; ?>'><?php echo $userData['email'] ?></a></td></tr>

</table>

</body></html>
