<p>The following User Agreement governs the use of SmarterMarks and all services we provide to you, the user.</p>

<p><b>Access to SmarterMarks</b>. Access to SmarterMarks is limited to authorized users, and to the intended use of the site. Your account should be used with your classes only. While we're happy to allow occasional account sharing, extended collaboration should be done through SmarterMarks communities. We reserve the right to refuse service or cancel any subscription without prior notice. Where a paid account is cancelled before it expires, we will work to reimburse the user for the unused portion of their subscription. We reserve the right to remove or edit any content where required by law or where the content breaks our user agreement.</p>

<p><b>SmarterMarks is provided without warranty.</b> We work hard to ensure that SmarterMarks is accurate and reliable. Despite this, unexpected bugs or downtime may occur. We strongly recommend that you keep PDF copies of important assessments, response forms, and reports on your own computer. By using SmarterMarks, you agree that the use of the website is at your own risk.</p>

<p><b>Intellectual property</b>. SmarterMarks warrants that the software used on our site is legally owned by SmarterMarks or is licensed appropriately from the owners. By submitting content to SmarterMarks, you certify that you own that content, or have permission from the owner of the content to upload it to SmarterMarks, and give us permission to use the content to generate assessments, forms, and analyses for you, and to characterize questions.<p>

<p><b>Sharing</b>. We will never require that you share content. Where you choose to share content with specific users, you grant those users the right to use it for any non-commercial purpose. Where content is shared publicly, you grant the same right to all SmarterMarks users.</p>
