/**************************************************************************************************/
/* SmarterMarks HTML editor: WYSIWIG editor for SmarterMarks                                      */
/* Copyright (C) 2018 Jason Cooper                                                                */
/*                                                                                                */
/* This program is free software; you can redistribute it and/or modify it under the terms of the */
/* GNU General Public License as published by the Free Software Foundation; either version 3 of   */
/* the License, or (at your option) any later version.                                            */
/*                                                                                                */
/* You should have received a copy of the GNU General Public License along with this program; if  */
/* not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  */
/* 02110-1301 USA                                                                                 */
/**************************************************************************************************/

.bubbletip, .arrow:after {
  background: #fffe9b;
  border: 2px solid black;
}

.bubbletip {
	pointer-events: none;
	opacity: 0;
	display: inline-block;
	white-space: nowrap;
	position: absolute;
	padding: 10px;
	color: #222;
	border-radius: 5px;
	margin-top: 10px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	z-index: 10;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	margin-left: -35px;
	top: -16px;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	bottom: -20px;
	width: 25px;
	height: 25px;
	transform:      rotate(45deg);
}
.bubbletip.active {
	opacity: 1;
	transition: all 0.2s ease;
}
.bubbletip.out {
	opacity: 0;
}