
/* The dialog container */
.picker-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    width:100%;
    height:100%;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    font-family: sans-serif;
    user-select: none;
}

/* Flexible 2D color area */
.picker-colour-area {
    position: relative;
    flex: 1; /* Takes up all extra vertical space */
    width: 100%;
    min-height: 100px;
    background: 
        linear-gradient(to right, #fff, rgba(255,255,255,0)),
        linear-gradient(to top, #000, rgba(0,0,0,0));
    cursor: crosshair;
}
  
.picker-colour-area-indicator {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    pointer-events: none;
    transform: translate(-50%, -50%);
}
  
/* Row for preview circle and sliders */
.picker-controls-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
/* Preview circle */
.picker-preview-circle {
    flex: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
  
/* Container for the two sliders */
.picker-slider-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 15px;
}
  
/* Sliders */
.picker-slider {
    position: relative;
    width: 100%;
    height: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
}
  
.picker-hue-slider {
    background: linear-gradient(to right,
        #ff0000 0%,
        #ffff00 17%,
        #00ff00 33%,
        #00ffff 50%,
        #0000ff 67%,
        #ff00ff 83%,
        #ff0000 100%
    );
}
  
.picker-width-slider {
    position: relative;
    height: 12px;
    background: transparent; /* no background on container */
    overflow: visible; /* allow children to overflow */
}
  
.picker-width-slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #444;
    clip-path: polygon(0 55%, 0 45%, 100% 0, 100% 100%);
    pointer-events: none;
    z-index: 1;
}

/* Slider indicators */
.picker-slider-indicator {
    background: #444;
    position: absolute;
    top: 50%;
    width: 18px;       /* Fixed size */
    height: 18px;      /* Fixed size */
    border: 2px solid #fff; 
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Swatches row */
.picker-swatch-wrapper {
    display: flex;
    justify-content: start;
    gap: 5px;
}
  
.picker-swatch {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}