/**************************************************************************************************/
/* SmarterMarks equation editor: WYSIWIG equation editor for SmarterMarks, adapted from Camden    */
/* Reslink's equation editor                                                                      */
/* Copyright (C) 2018 Jason Cooper                                                                */
/*                                                                                                */
/* This program is free software; you can redistribute it and/or modify it under the terms of the */
/* GNU General Public License as published by the Free Software Foundation; either version 3 of   */
/* the License, or (at your option) any later version.                                            */
/*                                                                                                */
/* You should have received a copy of the GNU General Public License along with this program; if  */
/* not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  */
/* 02110-1301 USA                                                                                 */
/**************************************************************************************************/

.menu_row {
	overflow:hidden;
	white-space:nowrap;
}

.edit_button_text .edit_button_icon { background: url("../img/editor/text.svg") center/16px no-repeat; }
.edit_button_sup .edit_button_icon { background: url("../img/editor/sup.svg") center/16px no-repeat; }
.edit_button_sup_sub .edit_button_icon { background: url("../img/editor/sup_sub.svg") center/16px no-repeat; }
.superscriptButton { background: url("../img/editor/sup.svg") center/16px no-repeat; }
.subscriptButton { background: url("../img/editor/sub.svg") center/16px no-repeat; }
.superscriptAndSubscriptButton { background: url("../img/editor/sup_sub.svg") center/16px no-repeat; }
.edit_button_frac .edit_button_icon { background: url("../img/editor/frac.svg") center/16px no-repeat; }
.edit_button_sqrt .edit_button_icon { background: url("../img/editor/sqrt.svg") center/16px no-repeat; }
.edit_button_nthroot .edit_button_icon { background: url("../img/editor/nthroot.svg") center/16px no-repeat; }
.edit_button_variable2 .edit_button_icon { background: url("../img/editor/variable2.svg") center/16px no-repeat; }
.edit_button_constant .edit_button_icon { background: url("../img/editor/constant2.svg") center/16px no-repeat; }
.edit_button_pi .edit_button_icon { background: url("../img/editor/pi.svg") center/16px no-repeat; }
.edit_button_e .edit_button_icon { background: url("../img/editor/e.svg") center/16px no-repeat; }
.edit_button_function .edit_button_icon { background: url("../img/editor/function.svg") center/16px no-repeat; }
.edit_button_accent .edit_button_icon { background: url("../img/editor/accent.svg") center/16px no-repeat; }
.edit_button_other .edit_button_icon { background: url("../img/editor/other.svg") center/16px no-repeat; }
.edit_button_brackets .edit_button_icon { background: url("../img/editor/brackets_parenthesis.svg") center/16px no-repeat; }
.edit_button_matrix .edit_button_icon { background: url("../img/editor/matrix.svg") center/16px no-repeat; }
.sumOperatorButton { background: url("../img/editor/sum.svg") center/16px no-repeat; }
.integralButton { background: url("../img/editor/integral.svg") center/16px no-repeat; }
.limitButton { background: url("../img/editor/limit.svg") center/16px no-repeat; }
.labeledArrowButton { background: url("../img/editor/labeled_arrow.svg") center/16px no-repeat; }
.openLeftBracketPairButton { background: url("../img/editor/brackets_openLeft.svg") center/16px no-repeat; }
.openRightBracketPairButton { background: url("../img/editor/brackets_openRight.svg") center/16px no-repeat; }
.parenthesisBracketPairButton { background: url("../img/editor/brackets_parenthesis.svg") center/16px no-repeat; }
.squareBracketPairButton { background: url("../img/editor/brackets_square.svg") center/16px no-repeat; }
.curlyBracketPairButton { background: url("../img/editor/brackets_curly.svg") center/16px no-repeat; }
.curlyBracketLeftButton { background: url("../img/editor/bracket_curly_left.svg") center/16px no-repeat; }
.absValBracketPairButton { background: url("../img/editor/brackets_absVal.svg") center/16px no-repeat; }

.symbol_cell>div {
	margin-top:1px;
}

.eqEdEquation {
    position: relative;
    line-height: 1;
    display: inline-block;
}

.activeContainer .hoverContainer {
    background: #B5B5B5;
}

.hoverContainer {
    background: #E8E8E8;
}

.eqEdEquation div,
.eqEdEquation span,
.eqEdEquation svg,
.eqEdEquation img {
    position: absolute;
    top: 0em;
    left: 0em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Try to prevent highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.fontTest {
    visibility: hidden;
}

/* Careful! Non-integer values for font sizes confuse QtWeb, which rounds them to the nearest integer. */

.fontSizeNormal {
    font-size: 16px; /* Was 16.2px */
}

.fontSizeVariable {
    font-size: 13px;
}

.fontSizeVariableSmall {
    font-size: 9px;
}

.fontSizeSmaller {
    font-size: 12px; /* fontSizeNormal * 0.7802 -- was 12.7px */
}

.fontSizeSmallest {
    font-size: 10px; /* fontSizeNormal * 0.6703 -- was 10.9px */
}

.fontSizeMessage {
    font-size: 20px;
    color: #A9A9B1;
    font-family: Arial, Helvetica, sans-serif;
}

.fontStyleVariable {
	font-family: Arial, Helvetica, sans-serif;
}

.MathJax_MathItalic {
    font-family: 'MathJax_Math';
    font-style: italic;
}

.MathJax_Main {
    font-family: 'MathJax_Main';
}

.MathJax_MainItalic {
    font-family: 'MathJax_Main';
    font-style: italic;
}

.MathJax_Size1 {
    font-family: 'MathJax_Size1';
}

.MathJax_Size2 {
    font-family: 'MathJax_Size2';
}

.MathJax_Size3 {
    font-family: 'MathJax_Size3';
}

.MathJax_Size4 {
    font-family: 'MathJax_Size4';
}

.MathJax_AMS {
    font-family: 'MathJax_AMS';
}

div.cursor {
    background-color: #000000;
    /* The cursor should always be on top */
    z-index: 50;
}

div.normalCursor {
    width: 2px;
    height: 90%;
    top: 5%;
    left: 0px;
}

div.squareCursor {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
}

.cursorOff {
    visibility: hidden;
}

.highlight {
    background: #5266FF;
}

.highlighted div {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.highlighted .stackedFractionHorizontalBar,
.highlighted .squareRootOverBar,
.highlighted .nthRootOverBar {
    background: #FFFFFF;
}

.highlighted path {
    fill: #FFFFFF;
}

.highlighted rect {
    stroke: #FFFFFF;
}

.equationContainer {
    cursor: text;
    z-index: 3;
}

div.activeContainer {
    background: #CFCFCF;
}

.squareEmptyContainer {
    cursor: pointer;
    border: solid #000000;
}

.equationWrapper {
    z-index: 3;
}

/* This overflow must be hidden, because brackets extend past
   equation boundaries, and mess up mouse interactions. */
.bracketWrapper {
    overflow: hidden;
}

.activeContainer .topLevelEmptyContainerWrapper {
    background: #CFCFCF;
}
/*
.topLevelEmptyContainerWrapper {
    background: #EDEDED;
}
*/
.stackedFractionHorizontalBar {
    background: #000000;
}

.squareRootOverBar {
    background: #000000;
}

.nthRootOverBar {
    background: #000000;
}

.nthRootRadical {
    z-index: 7;
}

.accentSymbol {
    z-index: 8;
}
/*
.dotAccent {
    clip: rect(0.075em, 0.33em, 0.28em, 0.15em);
}

.dotAccentIE {
    clip: rect(-0.5em, 0.85em, 0em, 0.1em);
}

.hatAccent {
    clip: rect(0.05em, 0.4em, 0.29em, 0.1em);
}

.hatAccentIE {
    clip: rect(-0.5em, 0.85em, 0em, 0.1em);
}

.barAccent {
    clip: rect(0.21em, 0.45em, 0.28em, 0.05em);
}

.barAccentIE {
    clip: rect(-0.1em, 0.45em, 0em, 0.05em);
}
*/
.nonHighlightVersion {
    visibility: visible;
}

.highlightVersion {
    visibility: hidden;
}

.eqImg {
    width: 100%;
    height: 100%;
}

.submission-scroll {
    border: 2px solid #A9A9B1;
    border-radius: 5px;
    margin: 30px;
    padding: 5px;
    overflow: auto;
    max-height: 100px;
    max-width: 350px;
}

/* Menu CSS */
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links {
    margin-bottom: 0px;
    padding-left: 7px;
    white-space: nowrap;
}

.tab-links li {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    margin-bottom: 0px;
    /*float:left;*/
    display:inline-block;
    list-style:none;
}
 
.tab-links a {
    padding:9px 15px;
    display:inline-block;
    background:#E0E0E0;
    font-size:16px;
    color:#000;
    text-decoration:none;
}

.outer-tab-links a:hover {
    background:#BABABA;
}

.inner-tab-links a:hover {
    background:#8A8A8A;
}

.outerTab.active a, .outerTab.active a:hover {
    background: #9C9C9C;
}

.innerTab.active a, .innerTab.active a:hover {
    background: #707070;
}

.top-level-tab {
    background:#9C9C9C;
}
/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px 2.5%;
}

.tab-content-nested {
    background: #707070;
}

#tab-content-top {
    width: 700px;
    background: #9C9C9C;
}
 
.tab {
    display:none;
}

.tab.active {
    display:block;
}

.innerTabImg {
    height: 34px;
}

.menuItem {
    background: transparent;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    vertical-align: top;
}

.menuItem:hover {
    cursor: pointer;
}

.tab.outer > .menuItem:hover {
    background-color: #707070;
}

.tab.inner > .menuItem:hover {
    background-color: #545454;
}

.subMenu {
	margin:0px 5px; 
	overflow-y:hidden;
}

.edit_button_matrix .edit_button_menu {
	padding:5px;
	width:auto;
	height:auto;
}

.edit_parent.inactive .edit_bar,
.edit_parent.inactive .command_status {
	display:none;
}

.eqn_editor {
	height: auto;
	padding: 0px;
	overflow-x: auto;
	background: white;
}

.eqn_editor .eqEdEquation {
	margin:10px 10px 5px;
}

.edit_parent.inactive .eqn_editor {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.edit_parent.inactive .eqn_editor .eqEdEquation {
	margin:8px;
}
