/**************************************************************************************************/
/* SmarterMarks HTML editor: WYSIWIG editor for SmarterMarks                                      */
/* Copyright (C) 2018 Jason Cooper                                                                */
/*                                                                                                */
/* This program is free software; you can redistribute it and/or modify it under the terms of the */
/* GNU General Public License as published by the Free Software Foundation; either version 3 of   */
/* the License, or (at your option) any later version.                                            */
/*                                                                                                */
/* You should have received a copy of the GNU General Public License along with this program; if  */
/* not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  */
/* 02110-1301 USA                                                                                 */
/**************************************************************************************************/

.cursor_fence {
	content: "&zwnj;"
}

.resizer_right {
	position:absolute;
	top:0;
	right:-8px;
	bottom:0;
	width:16px;    
	cursor:col-resize;   
	z-index:9999;
}
    
.resizer_left {
	position:absolute;
	top:0;
	left:-8px;
	bottom:0;
	width:16px;    
	cursor:col-resize;   
	z-index:9999; 
}

.edit_parent {
	border:1px solid #ccc; 
	border-radius:5px;
	position:relative;
}

.label_select {
	overflow:hidden;
	white-space:nowrap;
}

.edit_table_block {
	border:1px solid #ccc;
	width: 10px;
	height: 10px;
}

.edit_table_block.selected {
	background-color:#0085c7;
	border-color:black;
}

.edit_table_size {
	background-color:white;
	display: grid;
	gap: 4px;
	margin: 2px;
  }

.variable_select {
	overflow:hidden;
	white-space:nowrap;
}

.edit_button_menu {
	position:absolute;
	top:30px;
	left:0px;
	width:auto;
	border:1px solid #ccc;
	background-color:white;
	padding:5px 0px;
	z-index:10;
}

.edit_button_menu ul {
	text-align:left;
	margin:0px;
	list-style-type:none;
}

.edit_button_menu li {
	padding:6px 12px;
	cursor:default;
}

.edit_button_menu li:hover {
	background-color:#0085c7;
	color:white;
}

.edit_title {
	position:absolute;
	z-index:9999;
}

.edit_titleArrow {
	width:10px;
	height:5px;
	margin:0 auto;
	background:url("/img/editor/arrow.svg") center/10px no-repeat;
}

.edit_titleText {
	padding:0px 5px;
	margin:0 px;
	background:#000;
}

.edit_titleText, .edit_titleText * {
	color:#FFF;
	font-size:11px
}

.html_editor {
	padding:10px 10px 0px;
}

.html_editor:focus {
    outline: none;
}

.edit_bar {
	background:#f0f0f0;
	z-index: 20;
}

.edit_parent>*:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.edit_parent>*:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.edit_parent.inactive .edit_bar,
.edit_parent.inactive .command_status {
	display:none;
}

.html_editor {
	min-height: 30px;
	width: 100%;
	box-sizing: border-box;
	background: white;
	position: relative;
	cursor: text;
}

.edit_parent.inactive .html_editor {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:10px;
}

.edit_button_icon {
	display:inline-block;
	width:25px;
	height:25px;
	border:none; 
	background:none;
	padding:0px;
}

.edit_button {
	display:inline-block;
	border:none; 
	background:none;
	padding:0px 3px 0px 3px;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.edit_button.disabled,
.edit_button.dead {
	opacity:0.2;
}

.edit_button:not(.disabled):not(.inactive):hover,
.edit_button.selected {
	background-color:#e3e3e3;
}

.edit_bar_section {
	height:28px;
	margin:4px 0px 4px 0px;
	padding:0px;
	border-right:1px solid #d9d9d9;
	display:inline-block;
}

.edit_bar_section:last-child {
	border-right: none;
}

.edit_button_table .edit_button_menu {
	padding:5px;
	width:auto;
	height:auto;
}

.symbol_cell {
	flex:none;
	width:20px; 
	height:20px; 
	cursor:default;
	line-height:20px;
	text-align:center;
	font-size:16px;
	font-family:'Times New Roman', Times, serif;
	display:inline-block; 
	margin:1px; 
	border:1px solid #ccc;
	color:black;
}

.symbol_cell * {
	cursor:default;
}

.symbol_cell:hover {
	filter: invert(100%);
	background-color:#ff7a38;
	border-color:white;
}

.symbol_cell:hover path {
	fill:white;
}

.edit_symbol_list {
	display: flex;
	flex-wrap: wrap;
	width: 240px; 
	height: 85px; 
	margin: 0px 5px; 
	overflow-y: scroll;
}

td.td_top {
	vertical-align:top;
}
td.td_middle {
	vertical-align:middle;
}
td.td_bottom {
	vertical-align:bottom;
}

.edit_button_normal .edit_button_icon { background: url("/img/editor/normal.svg") center/16px no-repeat; }
.edit_button_bold .edit_button_icon { background: url("/img/editor/bold.svg") center/16px no-repeat; }
.edit_button_italic .edit_button_icon { background: url("/img/editor/italic.svg") center/16px no-repeat; }
.edit_button_underline .edit_button_icon { background: url("/img/editor/underline.svg") center/16px no-repeat; }

.edit_button_subscript .edit_button_icon { background: url("/img/editor/subscript.svg") center/16px no-repeat; }
.edit_button_superscript .edit_button_icon { background: url("/img/editor/superscript.svg") center/16px no-repeat; }

.edit_button_align .edit_button_icon { background: url("/img/editor/lalign.svg") center/16px no-repeat; }
.edit_button_lalign .edit_button_icon { background: url("/img/editor/lalign.svg") center/16px no-repeat; }
.edit_button_center .edit_button_icon { background: url("/img/editor/center.svg") center/16px no-repeat; }
.edit_button_ralign .edit_button_icon { background: url("/img/editor/ralign.svg") center/16px no-repeat; }

.edit_button_ulist .edit_button_icon { background: url("/img/editor/ulist.svg") center/16px no-repeat; }
.edit_button_olist .edit_button_icon { background: url("/img/editor/olist.svg") center/16px no-repeat; }

.edit_button_variable .edit_button_icon { background: url("/img/editor/variable.svg") center/16px no-repeat; }

.edit_button_blank .edit_button_icon { background: url("/img/editor/blank.svg") center/16px no-repeat; }

.edit_button_table .edit_button_icon { background: url("/img/editor/table.svg") center/16px no-repeat; }
.edit_button_image .edit_button_icon { background: url("/img/editor/image.svg") center/16px no-repeat; }
.edit_button_drawing .edit_button_icon { background: url("/img/editor/drawing.svg") center/16px no-repeat; }
.edit_button_equation .edit_button_icon { background: url("/img/editor/equation.svg") center/16px no-repeat; }

.edit_button_info .edit_button_icon { background: url("/img/editor/info.svg") center/16px no-repeat; }
.edit_button_settings .edit_button_icon { background: url("/img/editor/settings.svg") center/16px no-repeat; }

.edit_button_symbol .edit_button_icon { background: url("/img/editor/symbol.svg") center/16px no-repeat; }

.edit_button_code .edit_button_icon { background: url("/img/editor/text.svg") center/16px no-repeat; }

.edit_button_tentothe .edit_button_icon { background: url("/img/editor/tentothe.svg") center/16px no-repeat; }

.edit_bar li { font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:14px; }

.edit_button_align .edit_button_menu img {
	width: 15px;
	margin-right: 10px;
	vertical-align: middle;
}

.edit_button_align .edit_button_menu div {
	display: inline-block;
	vertical-align: middle;
}

.edit_parent .html_drawing {
	border: 1px solid #ccc;
}

.img_resize_wrapper,
.drawing_resize_wrapper {
	display: inline-block;
	pointer-events: none;
	box-sizing: border-box;
	cursor: default;
	position: relative;
}

.drawing_resize_wrapper, 
.drawing_resize_wrapper * {
	touch-action: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
	user-select: none;
}

.img_resize_wrapper img,
.drawing_resize_wrapper .html_drawing {
	pointer-events: auto;
	height: 100%;
	width: 100%;
}

.img_resize_box,
.drawing_resize_box {
	pointer-events: none;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border: 3px solid #5ca1cc;
}

.img_resize_corner,
.drawing_resize_corner {
	pointer-events: auto;
	background-color: #5ca1cc;
	position: absolute;
}

.drawing_toolbar {
	cursor: pointer;
	position: absolute;
	display: flex;
	gap: 2px;
	padding: 2px;
	background: #bdd9ea;
	width: auto;
}

.drawing_tool {
	pointer-events: auto;
	flex: none;
	width: auto;
	height: auto;
	padding: 3px;
	z-index: 9999;
}

.drawing_tool:hover {
	background-color: #96c3de;
}

.drawing_tool.selected {
	background-color: #70acd2;
}

#colour_picker_wrapper {
	pointer-events: auto;
	position: absolute; 
	top: 0px; 
	left: 0px; 
	z-index: 9999;	
}

.annotation_icon {
	pointer-events: none;
}

.drawing_colour_button {
	pointer-events: auto;
	background-color: black;
	flex: none;
	width: 24px;
	height: 24px;
	padding: 3px;
	z-index: 9999;
}

.drawing_colour_button * {
	pointer-events: auto;
}