/**************************************************************************************************/
/* SmarterMarks                                                                                   */
/* Copyright (C) 2018 Jason Cooper                                                                */
/*                                                                                                */
/* This program is free software; you can redistribute it and/or modify it under the terms of the */
/* GNU General Public License as published by the Free Software Foundation; either version 3 of   */
/* the License, or (at your option) any later version.                                            */
/*                                                                                                */
/* You should have received a copy of the GNU General Public License along with this program; if  */
/* not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  */
/* 02110-1301 USA                                                                                 */
/**************************************************************************************************/

@charset "utf-8";

/* Font faces */

@font-face {
	font-family: 'icomoon';
	src:  url('/fonts/icomoon.eot?2');
	src:  url('/fonts/icomoon.eot?2') format('embedded-opentype'),
	  url('/fonts/icomoon.ttf?2') format('truetype'),
	  url('/fonts/icomoon.woff?2') format('woff'),
	  url('/fonts/icomoon.svg?2') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
	
@font-face {
	font-family: 'Vegur Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Vegur Regular'), url('/fonts/Vegur-R.woff') format('woff');
}

@font-face {
	font-family: 'Vegur Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Vegur Medium'), url('/fonts/Vegur-M.woff') format('woff');
}

@font-face {
	font-family: 'Vegur Light';
	font-style: normal;
	font-weight: normal;
	src: local('Vegur Light'), url('/fonts/Vegur-L.woff') format('woff');
}

@font-face {
	font-family: 'Vegur Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Vegur Bold'), url('/fonts/Vegur-B.woff') format('woff');
}

@font-face {
    font-family: 'CMU Serif';
    src: url('/fonts/CMUSerif-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('/fonts/CMUSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('/fonts/CMUSerif-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CMU Typewriter Text';
    src: url('/fonts/CMUTypewriter-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

html, body {
	position: relative;
	background-color:#edede5;
}

/* Set user-select on click for contenteditable. Otherwise no selectionchanged event in Safari. */

[contenteditable] {
    user-select: text;
}

.dropdown-divider {
	height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.item_highlighted {
	background: #fffe9b !important;
}

.wait_icon {
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
	width:24px;
	height:24px;
	background: url("/img/waiting.svg") center/24px no-repeat;
}

.wait_icon_actions {
	opacity:0;
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	width:18px;
	height:18px;
	background: url("/img/waiting.svg") center/18px no-repeat;
}

#video_wrapper {
	position:relative;
    background-color: #666;
    border:1px solid black;
	display:inline-block; 
	width:320px;
	height:240px;
	overflow:hidden;
}

#workingCanvas, #rawCanvas {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
	height:100%;
}
#pageCanvas {
    border:1px solid black;
    margin-left:10px;
    width:185px;
    height:240px;
}

.wizard_json {
	display:none;	
}

.wizard_round {
	text-align:center;
}

.wizard_equation .equation_wrapper {
	overflow-x:auto;
}

.wizard_name {
	overflow-x:auto;
}

.hidden_answer_list,
.nr_answer_list {
	display:none;
}

.wr_response_space {
	display:none;
}

.answer_preview_number {
	width:70px; 
	display:inline-block;	
	vertical-align:top;
}

.answer_preview_value {
	width:70px; 
	display:inline-block;	
	vertical-align:top;
}

.answer_preview_answer {
	width:630px;
	display:inline-block;	
	vertical-align:top;
}

.type_icon {
	width:15px;
}

.ui-menu .ui-menu-item {
	list-style-image:none;  /* Override for JQuery UI. Without this, IE gives the wrong item heights. */
    margin:0px;
}

h1 { font-family: "Vegur Regular"; font-size: 40px; color: #494949; height: 30px;}
h3 { font-family: "Vegur Regular"; font-size: 20px; color: #494949;font-weight: normal !important; }

.mc_table_column {
	vertical-align:top;
	display:inline-block;
}

.mc_table_column:not(:last-child) {
	margin-right:5px;
}

.mc_table_row:not(:last-child) {
	margin-bottom:4px;
}

/* Style for online assessment */

.online_response {
	position:relative;
	z-index: 10;
}

#sitting_warnings,
#scoring_warnings {
    position: fixed; 
    bottom: 5%;
	left: 50%;
    transform: translate(-50%, 0);
}

#time_warning {
    padding: 10px;
    background-color: #67AC5C; 
    color: white;
    margin-top:10px;
    border-radius:5px;
    width:500px;
    height:30px;
    text-align:center;
}

#save_success { 
    padding: 10px;
    background-color: #67AC5C; 
    color: white;
    margin-top:10px;
    width:500px;
    height:30px;
    text-align:center;
    line-height:30px;
}

#save_warning { 
    padding: 10px;
    background-color: #e03326; 
    color: white;
    margin-top:10px;
    width:500px;
    height:30px;
    text-align:center;
    line-height:30px;
}

.mc_answer_list {
	position:relative;
}

.mc_table_wrapper {
	position:relative;
	width:100%;
	height:auto;
}

.student_view .response_checkbox+.response_old_label {
	display: none;
}

.student_view .mc_answer_list input[type="checkbox"].online_response {
	margin:0px;
	position:relative;
	top:-2px;
}

.student_view .mc_answer_table input[type="checkbox"].online_response {
	margin:0px;
}

.student_view .question_answer,
.student_view .question_answer * {
	cursor: pointer;
	user-select: none;
}

.student_view .question_answer_mc {
	padding: 8px;
	margin: 3px 0px;
	border: 1px solid #aaa;
	border-radius: 5px;
}

.student_view .question_answer_mc:hover {
	background-color: #e9f4f9;
}

.student_view .mc_answer_table .question_answer:hover {
	background-color: #e9f4f9;
}

.student_view .nr_answer_field .input_wrapper {
	margin-left:5px;
	display:inline-block;
}

.student_view input[type="text"].online_response {
	text-align: center;
	width: 18px;
	padding: 3px;
	margin-top: 10px;
	margin-left:5px;
	border: 1px solid #aaa;
	border-radius: 5px;
}

.student_view .nr_answer_field .input_wrapper:hover input {
	background-color: #e9f4f9;
}

.student_view .answer_field_error {
	display: inline-block;
	position: absolute;
	color: white;
	background-color: #e03326;
	padding: 3px 5px;
	border-radius: 5px;
    transform: translate(0, +50%);
}

.student_view .question_answer_mc {
	width:100%;
}

#matching_temp {
	visibility: hidden;
	width: auto;
}

/* Common style for assessments */

ul.ul_checklist {
	list-style:none;
    padding-left:1.5em;
    text-indent:-1.5em;
    margin:20px 0px;
}
  
ul.ul_checklist li:before {
    content: '\2610';
    display:block;
    float:left;
    width:1.5em;
}

.template_view table ul {
	margin: 0 0 10px 17px;
}

.template_view table ul.ul_checklist {
	margin: 0 0 10px 5px;
}

.template_view table ol {
	margin: 0 0 10px 20px;
}

.question_number {
	position: relative;
	flex: 0 0 30px;
    font-weight: bold;
}

.question_text {
	box-sizing:border-box;
}

.question_text,
.context_text {
	flex-grow:1;
}

.question_prompt {
	display:block; 
	margin-bottom:3px;
}

.question_answer_mc,
.context_answer {
	display:inline-flex;	
	align-items:baseline;
	vertical-align:baseline;
}

.question_answer_mc {
	box-sizing:border-box;
	padding-right:18px;
	margin-top:2px;
}

.answer_text {
	box-sizing:border-box;
}

.assessment_wrapper .answer_label {
	flex:0 0 24px;
	font-weight:bold;
}

.answer_text {
	flex:1 1 100%;
}

.answer_text img,
.template img {
	vertical-align:text-top;
}

.question_answer_table .answer_label {
	text-align:center;
}

.context_answer_list {
	width:100%;
	margin-top:10px;
	-webkit-box-flex:0;
}

.matching_blank {
	width:0.5in;
	border-bottom:1px solid black;
	display:inline-block;
	vertical-align:text-top;
	margin-right:10px;
}

.mc_answer_list {
	margin-top:5px;
}

.part_wrapper {
	position: relative;
	width: 100%;
	padding: 0px 0px 5px; 
}

/* Style for assessment preview */

.assessment_wrapper {
	font-size: 14px;
}

.assessment_wrapper .preview_header {
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.assessment_wrapper .question_wrapper:not(.shuffle_break) {
	padding: 34px 5px 5px; 
	position: relative;
}

.assessment_wrapper.parts_formatted .question_wrapper {
	padding-top: 0px;
}

.assessment_wrapper.parts_formatted .part_wrapper {
	box-sizing: border-box;
	padding: 35px 5px 5px;
	border: 1px solid transparent;
}

.assessment_wrapper.parts_formatted .context_header {
	padding-top: 35px;
}

.assessment_wrapper:not(.parts_formatted) .part_wrapper+.part_wrapper {
	padding-top: 35px;
}

.assessment_wrapper:not(.parts_formatted) .context_wrapper+.part_wrapper {
	padding-top: 25px;
}
.assessment_wrapper.parts_formatted .context_wrapper+.part_wrapper {
	padding-top: 35px;
}

.assessment_wrapper .context_header~.context_header {
	padding-top: 35px;
}

.assessment_wrapper.parts_formatted .style_tag {
	margin: 35px 5px -55px;
}

.assessment_wrapper:not(.parts_formatted) .part_wrapper+.style_tag {
	margin-top: 25px;
}

.assessment_wrapper:not(.parts_formatted) .context_wrapper+.style_tag {
	margin-top: 20px;
}

.assessment_wrapper:not(.parts_formatted) .style_tag+.part_wrapper {
	padding-top: 5px;
}

.assessment_wrapper.parts_formatted .style_tag+.part_wrapper {
	padding-top: 65px;
}

#statistics_item .question_wrapper,
#outcomes_item .question_wrapper,
#preview_question_wrapper .question_wrapper {
	padding-top: 5px;
}

#assessment_preview_wrapper .question_wrapper:not(.shuffle_break) {
	border: 1px solid transparent;
}

#assessment_preview_wrapper .question_wrapper.selected,
#assessment_preview_wrapper .part_wrapper.selected {
	border: 1px solid #aaa !important;
	border-radius: 5px;
}

.item_menu_wrapper {
	box-sizing:border-box;
	width: 100%;

	position: absolute;
	top: 0px; 
	left: 0px;

	display: flex;
    flex-direction: row;
	align-items: center;
}

/* Style for assessment print version */

#print_wrapper {
	font-size: 12pt; 
	font-family: 'Times New Roman', Times, serif;
	margin: auto;
}

#print_wrapper h3 {
	font-family:'Vegur Regular', sans-serif; 
}

#print_wrapper table ul {
	margin: 0 0 10px 17px;
	padding-inline-start: 10px;
}

#print_wrapper table ul.ul_checklist {
	margin: 0 0 10px 5px;
	padding-inline-start: 25px;
}

#print_wrapper table ol {
	margin: 0 0 10px 20px;
	padding-inline-start: 10px;
}

#print_wrapper img {
	page-break-inside:avoid;
}

#print_wrapper .part_statistics_label {
    display: inline-block;
	width: 1.15in;
}

#print_wrapper .chunk_wrapper {
	page-break-inside:avoid;
}

#print_wrapper .annotation_wrapper {
	display: none;
}
#print_wrapper .html_drawing .annotation_wrapper {
	display: block;
}

/* End of assessment styles */

/* Answer key styles */

.key_title {
	font-size:12pt;
	margin-bottom:20px;
	font-family:'Times New Roman', Georgia, serif; 
}

#key_wrapper {
	font-size:12pt; 
	font-family:'Times New Roman', Georgia, serif; 
	margin:auto;
}

.key_title div {
	margin-bottom:5px;
}

.key_header {
	margin:10px 0px;
	font-size:15pt;
	font-family:'Times New Roman', Georgia, serif; 
}

.key_row {
    width: 100%;
    display: flex;
	flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.key_column {
    flex: 1 1 100%;
    display: flex;
	flex-direction: row;
    align-items: flex-start;
}

.key_number {
    flex: none;
	width: 30px;
}

.key_answer {
    flex: 1 1 100%;
}

/* End of answer key styles */

.section_weight_name_wrapper {
	width:100%;
}

.section_weight_name {
	max-width:175px;
	display:inline-block;
	text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    vertical-align:middle;
    font-weight:bold;
}

.section_weight_count {
    padding-left:5px;
	display:inline-block;
    vertical-align:middle;
    width:auto;
}

.section_weights_row {
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#494949;
	margin-bottom:10px;
}

.section_weights_row input {
	width:25px;
	font-size:12px;
	vertical-align:middle;
}

.section_weight_label {
	display:inline-block; 
	vertical-align:middle; 
	margin-right:3px;
}

.section_weight_visual {
	display:inline-block; 
	vertical-align:middle; 
	margin-left:5px; 
	padding:2px; 
	height:20px; 
	width:166px; 
	background:white; 
	border:1px solid #eee; 
	position:relative;
}

.section_weight_bar {
	position:absolute;
	width:0px;
	height:19px;
	background:#4f677b;
}

.section_weight_percent {
	position:absolute; 
	width:100%; 
	height:19px; 
	padding-left:3px; 
	font-size:12px; 
	color:#d1d1d1;
}

.document_settings_tab,
.community_settings_tab,
.assessment_settings_tab {
	cursor:default;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid transparent;	
	border-bottom:none;
	background:none;
	margin-top:10px;
	margin-right:5px;
	padding:5px;
	display:inline-block;
	width:auto;
	height:20px;
	line-height:20px;
}

.document_settings_tab.selected,
.community_settings_tab.selected,
.assessment_settings_tab.selected {
	border:1px solid #ccc;	
	border-bottom:none;
	background:rgb(215, 231, 238);
}

.settings_wrapper {
	margin:10px;
}

#doc_levels_wrapper {
	vertical-align:top; 
	font-size:13px; 
	background-color:#f3f3f3; 
	border:1px solid #ccc; 
	border-radius:4px; 
	padding:5px;	
}

#doc_levels_wrapper div {
    color:#929292;
    opacity:0.7;
}

#doc_levels_wrapper .levels_row:not(:first-child) {
	margin-top:3px;
}

#doc_levels_wrapper .levels_row div {
	display:inline-block;
}

.objectives_header div {
	display:inline-block;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#494949;
}

#ddoc_levels_wrapper .ui-spinner,
#user_objectivesLevels_wrapper .ui-spinner {
	margin-bottom:0px;
}

.response_prompt {
	margin-top:15px; 
	font-size:90%;
}

.part_wrapper,
.context_wrapper,
.context_header,
.preview_header,
.assessment_title {
	user-select: none;
}

.student_view .part_wrapper,
.student_view .context_wrapper,
.student_view .context_header,
.student_view .preview_header,
.student_view .assessment_title {
	user-select: text;
}

.question_wrapper img {
	mix-blend-mode: multiply;
}

.part_highlighted {
	background-color: #d7e6ef;
}

.question_selected {
	border: 1px solid #5ca1cc !important;
	border-radius: 5px;
	background-color: #d7e6ef;
}

.part_wrapper,
.context_wrapper {
	display:flex;
	align-items:baseline;
}

.context_wrapper {
	flex-wrap:wrap;	
}

.item_separator {
	display: block;
	height: 1px;
	width: 50%;
	margin: 25px auto 5px;
	border-bottom: 1px solid #555;
}

.mc_answer_table {
	background-color:transparent;
	margin:auto;
}

.mc_answer_table th,
.mc_answer_table td {
	border:1px solid #333;
	font-family:inherit; 
	font-size:inherit; 
	color:#333;	
	padding:5px 10px !important;
}

.block_bigBlank,
.block_smallBlank {
	display: inline-block; 
	text-align:center;
	border-bottom: 1px solid #000; 
	font-style: italic;
	padding:1px;
}

.block_bigBlank {
    box-sizing: border-box;
	min-width: 1in;
    white-space: nowrap;
    padding: 0px 0.1in;
}
.block_smallBlank {	
	width: 0.4in; 
}

.assessment_title p {
	margin-bottom:0px !important;
}

.header_sort {
	font-size: 8px;
	color: #ccc;
	cursor: pointer;
}

.report_table, .report_table tr, .report_table td{
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #333;
}
.report_table {
    margin: 10px auto 0px;
}
.report_table td {
    padding: 0.2em 1em;
    vertical-align: top;
}
.report_table tr.tableHeader td {
    padding: 3px 10px;
    text-align:c enter;
}
.report_table tr.tableHeader:first-child td {
    border-top: 1pt solid black;
}
.report_table tr.tableHeader + :not(.tableHeader) td {
    border-top: 1pt solid black;
}
.report_table tr:last-child td {
    border-bottom: 1pt solid black;
}

.graph-tooltip {
	position: absolute;
	display: none;
	border: 1px solid black;
	padding: 5px;
	background: #fff;
	border-radius: 5px;
}

.graph-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
}

.graph-placeholder {
	width: 100%;
	height: 100%;
}

/* Get rid of annoying box around buttons and drop-downs.  Means we have to do accessibility ourselves. */

a { outline:none !important; }
button:focus {outline:none !important; }

.search_nav {
	cursor:default;
	font-size:30px;
	color:#000;
}
.search_nav.disabled {
	color:#ccc;
}

#dmc_options_note {
	margin-bottom: 10px;
}

#dmc_options_note>img {
	display:inline-block; 
	vertical-align:top;
}
#dmc_options_note>span {
	width:230px; 
	display:inline-block; 
	vertical-align:top;
}

#enr_options_note>img {
	display:inline-block; 
	vertical-align:top;
}
#enr_options_note>span {
	display:inline-block; 
	vertical-align:top;
}

#newAnalysis_dialog span {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
}

.inline-inputs { width:345px; }
.inline-inputs .labeled-input { display:inline-block !important; width:auto !important; }

.ui-dialog,
.ui-dialog .ui-dialog-content { overflow: visible; }

.labeled-input{overflow:visible; width: 405px; margin-bottom:10px; }
.labeled-input>* {vertical-align:middle; display:inline-block; margin-bottom:0px !important; margin-top:0px !important; }
.labeled-input>label{display:inline-block; text-align: right; padding-right:15px; cursor:default;}
.labeled-input input[type='checkbox'] { display:inline-block; margin:0px; margin-right:5px; padding:0px;}
	
.options_row { margin-bottom:5px; }
.options_row>* { vertical-align:middle; display:inline-block; margin-bottom:0px !important; margin-top:0px !important; }
	
#userEdit_form label {text-align:left;}

.dialogbox label,
#bubbles_wrapper label {
	text-align:right; 
	padding-right:5px; 
	cursor:default;
}

#userEdit_form .marginSpinner {
	width:28px !important;
}

.outcome_selection_entry { display: inline-block; padding-bottom:5px; width:55px; }
.outcome_selection_entry label { display:inline-block; vertical-align:middle; width: 30px; text-align:right; padding:0px 5px 0px 0px; margin:0px; }
.outcome_selection_entry input[type='checkbox'] { display:inline-block; vertical-align:middle; margin:0px; }

#featureUpdate_dialog h1 { font-size:20px; margin-top:0px; margin-bottom:20px; }

#wr_questionPanel td { line-height:1.2; }
#wr_questionPanel td p { margin-bottom:10px; }
#wr_questionPanel td p:last-child { margin-bottom:0px; }

#editWRQuestion_dialog textarea { line-height:1.2; }
#editWRQuestion_dialog textarea p { margin-bottom:10px; }

#editWRQuestion_dialog .labeled-input { width:345px; }
#editWRQuestion_dialog .defaultTextBox2 { width: 355px; }

#editOutcome_dialog .labeled-input { width:575px; }
#editOutcome_dialog .labeled-input>input { width:450px; }

#sendCopy_form .labeled-input { width:355px; }
#sendCopy_form .defaultTextBox2 { width:275px; }

#addUsers_form .labeled-input { width:355px; }
#addUsers_form .defaultTextBox2 { width:275px; }

#addMember_form .labeled-input { width:355px; }
#addMember_form .defaultTextBox2 { width:275px; }

#share_form .labeled-input { width:355px; }
#share_form .defaultTextBox2 { width:275px; }

#editScore_dialog .labeled-input { width:355px; }
#editScore_dialog .labeled-input>label { text-align:left; }
#editScore_dialog .defaultTextBox2 { width:340px; }

#answer_edit .labeled-input { width:410px; }
#answer_edit .defaultTextBox2 { width: 410px; }

#version_data_wrapper label { margin-top:10px; text-align:left; }
.version_entry { display:inline-block; width:65px; margin-bottom:10px; }
.version_entry>* {vertical-align:middle; display:inline-block; margin-bottom:0px !important; margin-top:0px !important; }
.version_entry .versionInput { width: 20px; height: 20px; margin:0px; padding:2px; border:1px inset; border-radius:0px; font-size:11px; }
.version_entry span { font-size:11px; }

#editScore_dialog label { margin-top:10px; text-align:left; }
.response_entry { display:inline-block; width:65px; margin-bottom:10px; }
.response_entry>* {vertical-align:middle; display:inline-block; margin-bottom:0px !important; margin-top:0px !important; }
.response_entry .response_input { width: 20px; height: 20px; margin:0px; padding:2px; border:1px inset; border-radius:0px; font-size:11px; }
.response_entry span { font-size:11px; }

#ajax_login_form label {position:relative; top:5px;}
#ajax_login_form .labeled-input{width: 355px;}
#ajax_login_form .labeled-input>label{ width: 70px; }
#ajax_login_form .defaultTextBox2 { width: 260px; }

.dialog_wrapper p, 
.dialog_wrapper li { font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:14px; }

.editButton { float:right; margin:0px; }

.document_detail_container label {vertical-align:middle; text-align:right; padding-right:5px; cursor:default;}
.document_detail_container .labeled-input { width:100%; }
.document_detail_container .labeled-input>label { width: 200px; }
.document_detail_container .defaultTextBox2 { width: 270px; }
.document_detail_container .defaultSelectBox { width: 250px; }

#signup_form .labeled-input { width: 300px; }
#signup_form .labeled-input>label { width: 300px; text-align:left; }
#signup_form .defaultTextBox2 { width: 282px; }

#folder_edit .labeled-input { width: 355px; }
#folder_edit .labeled-input>label { width: 50px; text-align:left; }
#folder_edit .defaultTextBox2 { width: 280px; }

#groupEdit_form .labeled-input { width: 350px; }
#groupEdit_form .labeled-input>label { width: 100px; }
#groupEdit_form .defaultTextBox2 { width: 200px; }
#groupEdit_form .defaultSelectBox { width: 214px; }

.groupEdit_column { display:inline-block; vertical-align:top; margin:20px; }	

#userEdit_form .labeled-input { width: 405px; }
#userEdit_form .labeled-input>label { width: 130px; }
#userEdit_form .defaultTextBox2 { width: 200px; }
#userEdit_form .userEditSelectBox { width: 218px; }

#userEdit_form .optionsContainer .labeled-input { width:100%; }
#userEdit_form .optionsContainer .labeled-input>label { width:210px; text-align:left; padding-right:0px;}

#editMCQuestion_dialog .labeled-input { width: 430px; }
#dmcq_detailWrapper .labeled-input>label { top: 0px; }

#dnq_detailWrapper span,
#dmcq_detailWrapper span { 
	color: #494949; 
}
#dnq_detailWrapper span.disabled,
#dmcq_detailWrapper span.disabled {
	color:#929292;
}

#addMCSection_dialog .labeled-input { width:100%; }
#addMCSection_dialog .details_column { width: 210px; }
#addMCSection_dialog .labeled-input>label { width: 130px; }
#addMCSection_dialog .defaultTextBox2 { width: 250px; }

#addNRSection_dialog .labeled-input { width: 405px; }
#addNRSection_dialog .labeled-input>label { width: 120px; }
#addNRSection_dialog .defaultTextBox2 { width: 200px; }

#editNRSection_dialog .labeled-input { width:100%; }
#editNRSection_dialog .details_column { width: 200px; }
#editNRSection_dialog .labeled-input>label { width: 130px; }
#editNRSection_dialog .defaultTextBox2 { width: 260px; }

#dnr_question_list .labeled-input { display:inline-block; width:auto; }

#editWRSection_dialog .labeled-input { width: 400px; }
#editWRSection_dialog .details_column label { width: 130px; }
#editWRSection_dialog .defaultTextBox2 { width: 240px; }

.details_column { width:190px; display:inline-block; }
.details_column .labeled-input { width:200px; }

#editSettings_form .labeled-input{width: 405px;}
#editSettings_form .labeled-input>label{ width: 120px; }
#editSettings_form h1{ margin:0px; line-height:30px; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:black; }
#editSettings_form h2{ margin:0px; line-height:30px; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:black; }

#editDocument_form .labeled-input{width: 405px;}
#editDocument_form .labeled-input>label{ width: 120px; }
#editDocument_form h1{ margin:0px; line-height:30px; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:black; }
#editDocument_form h2{ margin:0px; line-height:30px; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:black; }

.dialog_wrapper {
	display:inline-block;
	vertical-align:top;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	box-sizing:border-box; 
	width:100%;
	background:rgb(235, 235, 235); 
	padding:10px;
	margin:0px;
}

.ui-spinner {
	border:1px solid #ccc;
	overflow:visible;
}

.ui-spinner input {
	border:none;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:15px;
    box-shadow:none;
}

.ui-spinner input:focus {
    outline:none;
    border:none;
    box-shadow:none;
}

.ui-spinner .ui-spinner-up {
	top:2px;
}

.ui-spinner .ui-spinner-down {
	bottom:2px;
}

.ui-widget-overlay {
	background:rgb(0, 0, 0); 
	opacity:0.6;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 10px;
	margin-top: 0px;
	background:rgb(235, 235, 235);
	border:none;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin:0px;
	margin-right:0.4em;
}

.ui-dialog .ui-dialog-buttonpane button:last-child {
	margin-right:0px;
}

.ui-dialog-title { font-size:12px; }

.btn {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.ui-dialog {
	border:1px solid #aaaaaa;
	padding: 0px;
}

form {
	margin: 0px;
}

.ui-dialog .ui-dialog-titlebar {
	background:rgb(45, 72, 95);
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: none;
}

.ui-dialog .ui-dialog-content {
	padding:0px;
}

.help_panel { padding:20px; border-top-right-radius:0px; border-top-left-radius:0px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; }
.help_panel > ol { list-style-type:decimal; }
.help_panel > ol > li > ol { list-style-type:lower-latin; }

.help_panel h1 { font-family:inherit; font-size: 24px; line-height:24px; color:inherit; font-weight:normal; margin:30px 0 10px 0; }
.help_panel h1:first-of-type { margin-top:0px; }


.rounded_white_wrapper { 
	background:rgb(255, 255, 255); 
	background:rgba(255, 255, 255, 0.7); 
	margin-top: 20px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.rounded_white_wrapper_inner { 
	width: 86%; 
	margin: auto; 
	padding-top: 20px; 
	padding-bottom: 20px;
}

.action_bar {
	width:100%; 
	height:auto; 
	min-height:46px; 
	background-color:#2c2c2c; border-top-right-radius:5px; border-top-left-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; -moz-border-top-right-radius:5px; -moz-border-top-left-radius:5px; -moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px; -webkit-border-top-right-radius:5px; -webkit-border-top-left-radius:5px; -webkit-border-bottom-right-radius:5px; -webkit-border-bottom-right-radius:5px;
}

html .action_bar {
	display:flex; 
	justify-content:space-between; 
	align-items:center;
}

.action_left {
	margin:8px 0px 8px 10px;
	height:auto;
}

.action_right {
	margin:8px 10px 8px 0px;
	height:auto;
}

.window_bar {
	position:relative;
	box-sizing:border-box;
	width:100%;
	height:35px; 
	padding:0px 10px;
	color:white;
	line-height:35px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;

	background-color:#2e4960; 
	border-top-right-radius:5px; 
	border-top-left-radius:5px; 
	border-bottom-left-radius:0px; 
	border-bottom-right-radius:0px;
}

.window_bar>div {
    padding: 0px 10px;
    float: left;
    clear: none;
}

.reveal_button {
	margin: 4px;
	width: 53px;
	position:relative;
	left:-10px;
}

.reveal_hide .reveal_button::before {
	content: "Show";
}

.reveal_show .reveal_button::before {
	content: "Hide";
}

.reveal_hide {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.reveal_show + .window_content {
	height: auto;
}

.reveal_hide + .window_content {
	height: 0px;
	overflow: hidden;
}

.window_content {
	width:100%; 
	box-sizing:border-box;
	background:rgb(255, 255, 255); 
	background:rgba(255, 255, 255, 0.7); 
	border-top-right-radius:0px; 
	border-top-left-radius:0px; 
	border-bottom-left-radius:5px; 
	border-bottom-right-radius:5px; 
	margin-bottom:10px;
	overflow:auto; /* To prevent margin collapse */
}

.window_section {
	width: 100%;
	margin-bottom: 20px;
}

.window_section:last-child {
	margin-bottom:0px;
}

.folderTree, .folderTree2 {
	overflow-x: hidden;
	overflow-y: auto;
}

.folderTree .jstree-themeicon,
.folderTree2 .jstree-themeicon {
	background-size: 18px !important;
}
  

.delete_div {
	position:relative; 
	float:right; 
	bottom: 2px; 
}

#treePanel .jstree-container-ul {
	width:100%;
}

#treePanel .jstree-anchor {
	line-height:36px;
	height:36px;
	width:calc(100% - 29px);
    overflow:hidden;
    text-overflow:ellipsis;
}

#treePanel .jstree-icon,
#treePanel .jstree-icon:empty {
  margin-top: 6px;
  line-height: 36px;
}

#treePanel .jstree-wholerow {
  height: 36px;
}

.folder_link {
	cursor:pointer;
	height:13px;
}

#copyable_list {
	color:black;
	font-size:13px; 
	background:none;
}

#copyable_list tr:hover { 
	background-color:#e7f4f9; 
}

#copyable_list td{ border:none; padding:5px 9px; cursor:default; }

#copyable_list_title {
	color:white;
	font-size:13px;
	height:20px;
	background-color:#2e4960;
}

.btn-logout {
  color: #e6e6e6;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #224f77;
  background-image: -moz-linear-gradient(top, #579ec7, #224f77);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#579ec7), to(#224f77));
  background-image: -webkit-linear-gradient(top, #579ec7, #224f77);
  background-image: -o-linear-gradient(top, #579ec7, #224f77);
  background-image: linear-gradient(to bottom, #579ec7, #224f77);
  background-repeat: repeat-x;
  border-color: #646464 #2c2c2c #1e1e1e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff#579ec7', endColorstr='#ff224f77', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-logout:hover,
.btn-logout:focus,
.btn-logout:active,
.btn-logout.active,
.btn-logout.disabled,
.btn-logout[disabled] {
  color: #e6e6e6;
  background-color: #224f77;
}

.user_dropdown {
	font-family:'Times New Roman', Georgia, serif; 
	font-size:11pt;
	color:#e6e6e6;
}

.user_dropdown a,
.user_dropdown a:focus {
	color:#74c2f1;
	text-decoration:none;
}

.user_dropdown a:hover {
	color:#3b9bc0;
	text-decoration:none;
}

.search_box { position:relative; float:right; height:100%; }
.search_box input {
  height:20px; 
  width:228px; 

  color: #cccccc;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #424242;
  border-color:  #1e1e1e #2c2c2c #646464;
}

.tab_button { 
    display:inline-block; 
    position:relative; 
    width:90px; 
    height:80px; 
    margin:15px 5px; 
    background-color:transparent; 
    border-width:1px; 
    border-style:solid; 
    border-color:transparent; 
    font-family:Arial, Helvetica, sans-serif; 
    font-size:9pt; 
    line-height:normal; 
    color:white;
}

.tab_button:hover { 
    border-width:1px; 
    border-style:solid; 
    border-color:#070707 #070707 #3c3c3c #070707; 
    border-top-right-radius:5px; 
    border-top-left-radius:5px; 
    border-bottom-left-radius:5px; 
    border-bottom-right-radius:5px; 
    -moz-border-top-right-radius:5px; 
    -moz-border-top-left-radius:5px; 
    -moz-border-bottom-left-radius:5px; 
    -moz-border-bottom-right-radius:5px; 
    -webkit-border-top-right-radius:5px; 
    -webkit-border-top-left-radius:5px; 
    -webkit-border-bottom-right-radius:5px; 
    -webkit-border-bottom-right-radius:5px;
}

.btn-save {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-save:hover,
.btn-save:focus,
.btn-save:active,
.btn-save.active,
.btn-save.disabled,
.btn-save[disabled] {
  color: #ffffff;
  background-color: #0044cc;
}

.btn-save .caret
{
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn-cancel {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #b4b4b4;
  background-image: -moz-linear-gradient(top, #b4b4b4, #5a5a5a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4b4b4), to(#5a5a5a));
  background-image: -webkit-linear-gradient(top, #b4b4b4, #5a5a5a);
  background-image: -o-linear-gradient(top, #b4b4b4, #5a5a5a);
  background-image: linear-gradient(to bottom, #b4b4b4, #5a5a5a);
  background-repeat: repeat-x;
  border-color: #5a5a5a #5a5a5a #1e1e1e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb4b4b4', endColorstr='#ff5a5a5a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.active,
.btn-cancel.disabled,
.btn-cancel[disabled] {
  color: #ffffff;
  background-color: #5a5a5a;
}

.btn-cancel .caret
{
	border-top-color: #cccccc;
	border-bottom-color: #cccccc;
}

.btn-light {
  color: #222;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f1f3f5;
  background-image: -moz-linear-gradient(top, #f1f3f5, #e1e9eF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f3f5), to(#e1e9eF));
  background-image: -webkit-linear-gradient(top, #f1f3f5, #e1e9eF);
  background-image: -o-linear-gradient(top, #f1f3f5 0%, #e1e9eF 100%);
  background-image: linear-gradient(to bottom, #f1f3f5, #e1e9eF);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.disabled,
.btn-light[disabled] {
  color: #222;
  background-color: #e1e9eF;
}

.btn-light:active,
.btn-light.active {
  background-color: #24748c;
}

.btn-dark {
  color: #cccccc;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3a3a3a;
  background-image: -moz-linear-gradient(top, #4b4b4b, #3a3a3a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b4b4b), to(#3a3a3a));
  background-image: -webkit-linear-gradient(top, #4b4b4b, #3a3a3a);
  background-image: -o-linear-gradient(top, #4b4b4b, #3a3a3a);
  background-image: linear-gradient(to bottom, #4b4b4b, #3a3a3a);
  background-repeat: repeat-x;
  border-color: #646464 #2c2c2c #1e1e1e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4b4b', endColorstr='#ff3a3a3a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.disabled,
.btn-dark[disabled] {
  color: #cccccc;
  background-color: #3a3a3a;
}

.btn-dark .caret
{
	border-top-color: #cccccc;
	border-bottom-color: #cccccc;
}

.btn-group.open .btn-dark.dropdown-toggle {
	background-color: #3a3a3a;
}

.btn-group > .btn-group > .dropdown-toggle {
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   margin-left: 0px;
   margin-right: 0px;
}

.btn-group > .btn-group {
   margin-left: -1px;
   margin-right: 0px;
   line-height: 20px;
}

.btn-group > .btn-group:first-child > .dropdown-toggle {
     -webkit-border-top-left-radius: 4px;
         -moz-border-radius-topleft: 4px;
             border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;  
}

.btn-group > .btn-group:last-child > .dropdown-toggle {
     -webkit-border-top-right-radius: 4px;
         -moz-border-radius-topright: 4px;
             border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
}

.row_wrapper { position:relative; min-width:960px; width:100%; margin:0 auto; line-height:1.2; background-color:#edede5;}
.column_left { position:absolute; left:0; top:0; bottom:0; overflow:hidden; width:calc(50% - 480px); background-position: center right; background-repeat:no-repeat; }
.column_center { position:absolute; margin-left:calc(50% - 480px); width:960px; position:relative; }
.column_right { position:absolute; right:0; top:0; bottom:0; overflow:hidden; width:calc(50% - 480px); background-position: center left; background-repeat:no-repeat;}

.login_area .temp_login_field input{ position:absolute; z-index:1; width:189px; height:34px; background-image:url('/img/frontend/login_input.png'); background-repeat:no-repeat; background-color:transparent; border-style:none; font-size:11pt; padding:0px 0px 0px 10px; }

.login_area .temp_login_field label{ position:absolute; z-index:0; width:187px; height:27px; background-color:white; padding-top:8px; padding-left:13px; color:#aaa; font-style:italic; }

.home_wrapper {
	padding:18px; 
	color: #4F4E4A; 
	width:100%; 
	box-sizing:border-box; 
	border:4px solid #4F4E4A;
	border-radius:50px;
	background-color: #EDEDE699;
}

.login_wrapper {
	padding:20px; 
	color: #4F4E4A; 
	width:100%; 
	box-sizing:border-box; 
}

.login_field { display:flex; flex-flow:row nowrap; height:auto;}
.login_field input { 
	position:relative; 
	top:1px; 
	box-sizing:border-box; 
	flex:none; 
	margin-left:-100%; 
	width:100%; 
	height:34px;
	background-color:transparent; 
	border-style:none;
	font-size:11pt; 
	padding:0px 0px 0px 10px; 
}
.login_field .label_wrapper {
	box-sizing:border-box; 
	flex:none; 
	width:100%; 
	height:36px; 
	background-color:white; 
	border:1px solid white;
	box-shadow: inset 0 0 0.5em #aaa;
}
.login_field label { 
	margin:0px; 
	padding-top:8px; 
	padding-left:13px; 
	color:#aaa; 
	font-style:italic; 
}

.support_title { font-family:'Exo 2', Arial, Helvetica, sans-serif; color:#4F4E4A; font-size:14pt; cursor:default; }
.support_text { font-family:'Times New Roman', Georgia, serif; color:#4F4E4A; font-size:9pt; cursor:default; }

.tab_buttons > .btn { width:50px; margin-right:10px; padding:4px; }

.panelTop h3>a { color:#fff; }
.panelTop h3>a:hover { color:#bed3e4; text-decoration:none; cursor:pointer; } 

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover,
a.always-disabled-link,
a.always-disabled-link:visited ,
a.always-disabled-link:active,
a.always-disabled-link:hover {
    color:#aaa !important;
    cursor:default;
}

.dropdown-menu.right {
    left:auto;
    right:0;
}

.dropdown-menu.right::before {left:auto !important; right:9px;}
.dropdown-menu.right::after {left:auto !important; right:10px;}

body{ padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; background-color:#4F4E4A; width:100%; }

.clear{ clear:both; }

/* For cursor changes during ajax activity */

html.busy, html.busy * {  
  cursor: wait !important;  
}

/* Styling for left bar menus */

.menu_wrapper { 
	display:block;
	list-style: none;
	margin: 0px;  
	outline: none;
	min-height: 20px;
}

.menu_item { 
	display: flex;
	align-items: center;
	cursor: pointer;

	box-sizing: border-box;
	height: 30px;
	margin: 2px 1px;
	padding: 4px;

	border-radius:5px;

	font-size: 12px;
	text-decoration: none;
	font-weight: normal;

	background: #ffffff;
	border:solid 1px #ccc;
}

.menu_item:hover {
	background: #e7f4f9;
}

.menu_item.active {
	background: #d7e6ef;
}

.menu_text {
	flex:1 1 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu_button {
	flex: none;
	width: 14px;
	height: 14px;
	margin: 0px 3px;
	padding: 0px;
	border: none;
	cursor: pointer;
}

.menu_button[disabled=disabled], 
.menu_button:disabled {
	opacity: 0.35;
	cursor: default;
}

.formatting_item .menu_item {
	background: none;
	border: none;
}

.formatting_item .menu_item:hover {
	background: none;
}

.formatting_item .menu_text {
	font-weight: normal;
	color: white; 
	font-size: 11px; 
	text-transform: uppercase; 
	border:solid 1px transparent;
}

a.navbar_main.active {
  color: #fff !important;	
}

	.version_map tr { font-family:inherit; color:inherit; }
	.version_map td { width:20px; padding:3px; border-width:1px; border-color:#000; }

	.controlBox { margin-bottom:10px; padding:10px; background:url(/img/pannel-pattern.jpg) top left repeat; border:1px solid #386e96; border-top-right-radius:5px; border-top-left-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; -moz-border-top-right-radius:5px; -moz-border-top-left-radius:5px; -moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px; -webkit-border-top-right-radius:5px; -webkit-border-top-left-radius:5px; -webkit-border-bottom-right-radius:5px; -webkit-border-bottom-right-radius:5px; }

/* Content */
	#content_wrapper { width: 990px; margin: auto; }
	#footer { width: 100%; margin: auto;  text-align: center; color:#787878; font-size:11px;	 padding-top:25px; padding-bottom:15px; }

/* Forms */
	
	.signupTextBox { display: block; font-family: "Arial" !important; width: 275px; height: 29px !important; border: 1px solid #d1e1ed !important; background-color: #e8f0f6 !important; padding-left: 10px !important; font-size: 12px !important;  }

	.defaultTextBox { display: block; font-family: "Arial" !important; width: 322px; height: 29px !important; border: 1px solid #d1e1ed !important; background-color: #e8f0f6 !important; padding-left: 10px !important; font-size: 12px !important;  }
	.defaultTextBox:focus {  outline:none; border-color:#9ecaed; box-shadow:0 0 10px #9ecaed; }
	
	label { font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#494949; }
	label.disabled { color:#929292; }
	.defaultTextBox2:disabled { color:#929292; opacity: 0.7; }

	.submit_button { border: 1px solid green !important; width:239px !important; height:56px !important; margin:15px 0 0px 95px !important; border:none !important; outline:none !important; cursor:pointer !important; text-align:center; padding:0px !important; }
	
	.submit {background:url(/img/buttons/submit.jpg) top left no-repeat; }
	.signup { background:url(/img/buttons/sign-up-button.png) top left no-repeat; }
	.signUpText { text-align:center; font-size:18px; }
	.slogan_text { font-weight:bold; line-height:100%; margin-top:35px; margin-bottom:35px; text-align:center; font-size:40px; }
	.login { background:url(/img/buttons/login.jpg) top left no-repeat; }
	.login_header { background:url(/img/buttons/login_header.jpg) top left no-repeat; }
	
/* Error Messages */
	.error_massage, .correct_message { background:url(/img/errors/error.svg) top left no-repeat; width:650px; height:115px; margin: auto; }
	.correct_massage { background:url(/img/errors/success.svg) top left no-repeat !important; width:650px; height:115px; margin: auto; }
	.error_text{ margin: auto; padding-top: 10px; width:600px; text-align:center; }
	.error_text h3 { color:#FFF; font-weight:normal; font-size: 22px; padding-top: 9px;}

	.view_error_text{ font-size:10pt; color:black;}
	.view_error_text ul { list-style:disc; }
	.view_error_text a:link, 
	.view_error_text a:visited { text-decoration:underline; color:#0088cc; margin:0px; padding:0px; }
	.view_error_text a:hover {  }

/* Pagination */
	.pagination_wrapper { width:auto; height:auto; border:none; background:none; display:inline-block;}
	.pagination_wrapper .pag_button { cursor: pointer; padding:2px 6px; font-size:12px; color:#a8a9ab; text-decoration:none; border:1px solid #a8a9ab; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-right: 3px; } 
	.pagination_wrapper .disabled { cursor: default; color:#bba; }
	.pagination_wrapper .current{ cursor: default; background:#b3b3b1; border:1px solid #a8a9ab; color:#fff;	} 
	.pagination_wrapper .next { background:#dfe4e7; border:1px solid #a8a9ab; }
	.pagination_wrapper .previous { background:#dfe4e7; border:1px solid #a8a9ab; }

/* Tables */

	.documentHeader { color:#bed3e4; }
	.documentHeader:hover { color: #fff; } 
	
	.panel_table {
		width: 100%;
		background: white;
		border-bottom: 1px solid #d7d7d7;
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 13px; 
		color: #75797c;
	}

	.panel_table td { 
		padding: 15px 9px;
		box-sizing: border-box;
		border: 1px solid #d7d7d7;
	}
	.panel_table td:first-child {
		border-left:none;
	}
	.panel_table td:last-child {
		border-right:none;
	}
	.panel_table tr:last-child td {
		border-bottom:none;
	}
	
	.panel_table thead td {
		background: #f1f1f1; 
		color: #153b58;
		border-top: none;
	}

	.index_table {
		width: 100%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px; 
		color: #75797c;
		background: none;
		border: none;
		border-spacing: 0px;
	}
	
    .index_table tr.doc-hover {
        background-color: #e7f4f9;
    }
    
	.index_table tr.doc-clicked {
		background-color:#d7e6ef; 
	}
	
	.index_table tr.disabled {
		color:#aaa; 
		background:none;
	}
	
	.index_table td { 
		vertical-align: top;
		border-bottom:1px solid #d7d7d7; 
		border-top: none;
		padding: 10px;
		cursor: default; 
	}

	.index_folder_link {
		flex: none;
		width: 18px; 
		height: 15px;
		display: none;
		cursor: pointer;
		background: url("/img/icons/folder_go.png") no-repeat scroll center/contain transparent;
	}

	.index_type_label {
		flex: none;
		width: 15px;
		height: 15px;
	}
	.index_type_label[data-type='mc'] {
		background: url("/img/icons/type_mc.png") no-repeat scroll center/contain transparent;
	}
	.index_type_label[data-type='nr'] {
		background: url("/img/icons/type_nr.png") no-repeat scroll center/contain transparent;
	}
	.index_type_label[data-type='wr'] {
		background: url("/img/icons/type_wr.png") no-repeat scroll center/contain transparent;
	}
	.index_type_label[data-type='mixed'] {
		background: url("/img/icons/type_mixed.png") no-repeat scroll center/contain transparent;
	}

	.index_item_name {
		flex: 1 1 auto;
	}

	.index_new_label {
		flex: none;
	}

	.selection_table td:first-child input[type='checkbox'] {
		margin:0px;
	}

	.results_table {
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 13px;
        color:#75797c;
        display:grid;
	}

	.results_table_cell {
		display:none;
        padding:15px 20px;
	}

	#reports_wrapper .results_table_cell {
		display:block;
	}

	#message_wrapper .message_loading {
		display:block;
	}

    .results_table_divider {
        border-bottom: 1px solid #d7d7d7; 
        height:0px; 
        padding:0px; 
        grid-column-start:1; 
        grid-column-end:3;        
    }

	.datesHeader tr td {border-bottom:0px; }

/* jQuery (Build Assessment) */
	
	.layout_panel { 
		width:100%; 
		box-sizing:border-box; 
		padding:5px; 
		background:#303038; 
		border-radius:8px; 
		color: #222222; 
	}

	.ui-dialog .ui-dialog-titlebar-close {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.ui-dialog .ui-dialog-titlebar-close:after {
		content: "×";
		font-size: 16px;
	}
	.no-close .ui-dialog-titlebar-close { display: none; }

	.page_title{ padding: 2px 0px 7px 5px; font-size:11px; color:white; 
			     float:left; white-space:nowrap; overflow:hidden; text-transform:uppercase; }
	.page_title:hover { text-decoration: none !important; color: white;}
	.loadingMessage{ color:white;position:absolute; }
	.addSectionWrapper{ margin-top: 10px;}
	.hidden{display: none}
	.normal_chkbx{ width: 25px;  height: 25px;  display: inline; }
	.normal_chkbx:focus{ box-shadow:none; }
	.checkbox_details{display:inline; font-size:14px;}
	a.add_category{ color: blue; font-weight:bold; }
	ul.category_list{ padding:0; margin:0 0 3px; }
	.center{ text-align:center; }
	td.top{ vertical-align: top; }

	.edit_icon { background: url("/img/icons/edit-icon.svg") no-repeat scroll center/contain transparent; }
	.delete_icon { background: url("/img/icons/delete-icon.svg") no-repeat scroll center/contain transparent; }
	.copy_icon { background: url("/img/icons/copy-icon.svg") no-repeat scroll center/contain transparent; }
	.info_icon { background: url("/img/icons/info-icon.svg") no-repeat scroll center/contain transparent; }
	.view_icon { background: url("/img/icons/view-icon.svg") no-repeat scroll center/contain transparent; }
	.add_icon { background: url("/img/icons/add-icon.svg") no-repeat scroll center/contain transparent; }
	.move_icon { background: url("/img/icons/move-icon.svg") no-repeat scroll center/contain transparent; }
	.arrow_up_icon { background: url("/img/icons/arrow-up-icon.svg") no-repeat scroll center/contain transparent; }
	.arrow_down_icon { background: url("/img/icons/arrow-down-icon.svg") no-repeat scroll center/contain transparent; }
	.email_icon { background: url("/img/icons/email-icon.svg") no-repeat scroll center/contain transparent; }
	.prev_icon { background: url("/img/icons/prev-icon.svg") no-repeat scroll center/contain transparent; }
	.next_icon { background: url("/img/icons/next-icon.svg") no-repeat scroll center/contain transparent; }

	.zoom_in_icon { background: url("/img/icons/zoom-in-icon.svg") no-repeat scroll center/contain transparent; }
	.zoom_out_icon { background: url("/img/icons/zoom-out-icon.svg") no-repeat scroll center/contain transparent; }
	.rotate_cw_icon { background: url("/img/icons/rotate-cw-icon.svg") no-repeat scroll center/contain transparent; }
	.rotate_ccw_icon { background: url("/img/icons/rotate-ccw-icon.svg") no-repeat scroll center/contain transparent; }
	.close_image_icon { background: url("/img/icons/close-image-icon.svg") no-repeat scroll center/contain transparent; }

	.view_icon_grey { background: url("/img/icons/view-icon-grey.svg") no-repeat scroll center/contain transparent; }

	.text_icon {
		display: inline-block; 
		vertical-align: middle;
		width: 16px;                 /* To give a 2 pixel margin to each side when possible, but allow wide icons */
		height: 12px;
	}
	
	.input_button { 
		height: 20px;
		width: 20px;
		margin: 0px;
		padding: 0px;
		border: none;
		cursor: pointer;
	}

	.actions_button { 
		height: 15px;
		width: 23px;                 /* To give a 4 pixel margin to each side when possible, but allow wide buttons */
		margin: 0px;
		padding: 0px;
		border: none;
		cursor: pointer;
	}

	.actions_button:disabled { 
		opacity: 0.35;
		cursor: default;
	}

	.actions_table td:last-child {
		width: 85px;
		white-space: nowrap;
		text-align: right;
	}

	.actions_table thead td:last-child {
		text-align: center;
	}

	.actions_table td:first-child {
		text-align: left;
	}

	a.page_title{ text-decoration:none; }
	.title_box{ padding: 4 2px 9px 2px;}
	.colwhite{color: white}
	.half{width: 48%}
	#detail_wrapper{width: 75%; padding-top: 25px}

	#detail_wrapper textarea{width: 65%; float: right}
	#detail_wrapper select{width: 67.5%; float: right}
	#detail_wrapper .showHideControl { clear: both; width: 490px; font-size:10px; padding-right:7px; }
	.showHideControl a:link,
	.showHideControl a:visited { text-decoration:none; color:#0088cc; margin:0px; padding:0px; }
	.showHideControl a:hover { color:#000000; }

	#detail_wrapper label{float: left; text-align: right; width: 235px; padding-right: 15px; cursor:default; }

	.margin_column { display:inline-block; }

	.margin_column label{width: 60px;}

	.input_subtext {display:block; width:270px; font-size:11px; line-height:1.2;}

	.forgotPassword { font-size:11px; margin:0px; padding:0px; }
	.forgotPassword a:link,
	.forgotPassword a:visited { text-decoration:none; color:#0088cc; }
	.forgotPassword a:hover { color:#000000; }

	.dialogbox .defaultTextBox2 { width: 250px; }
	
	.dialogbox .defaultSelectBox { width: 256px; height: 28px !important;}
	.dialogbox .docTitleTextField { width: 250px; height:70px;}
	.btn_font { font-size: 12px  !important;}
	
	.mc_answer_wrapper { display:inline-block; width:60px; margin-bottom:10px; text-align:right; }
	.mc_answer_wrapper>* {vertical-align:middle; display:inline-block; margin-bottom:0px !important; margin-top:0px !important; }
	.mc_answer_wrapper>input { padding:1px; text-align:center; font-size:11px; width:20px; height:20px;}
	.mcQuestionLink { cursor:pointer; }
	.mcQuestionIndex { display:inline-block; margin:0px; text-align:right; font-size:11px; padding-right:2px;}
	.mcQuestionIndex:hover { color:#2989d8; }
	
	.marginSpinner, .intSpinner, .int4Spinner { font-family: "Arial" !important; font-size: 12px !important; height: 20px !important; }
	.marginSpinner { width: 30px !important; }
	.intSpinner { width:20px !important; }
	.int4Spinner { width:30px !important; }

	.defaultTextBox2 { font-family:"Arial" !important; font-size: 12px !important; width:240px; height:20px; }

	.defaultSelectBox { height: 28px !important; font-family: "Arial" !important; width: 260px; font-size: 12px !important;}
	.defaultSelectBox:disabled { color:#929292; opacity: 0.7; }
	
	.groupTypeSelectBox { float: left !important; height: 28px !important; font-family: "Arial" !important; width: 340px; background-color: #e8f0f6 !important; padding-left: 10px !important; font-size: 12px !important;}
	
	.policyText h4 { padding-top:2em; }
	.policyText li { list-style:disc; }
	.policyText td { padding: 0.1em; border:0px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; font-color:#333333; }
	
	.optionsContainer { border:2px solid #ccc; padding: 20px; overflow-y: scroll; }
	
.template_view .squareEmptyContainer {
	border:none;
}
	
.template_view img {
	cursor:default;
}
	
.template_view table {
	background-color:transparent;
    border-collapse:collapse;
}

.template_view td {
	position:relative;
	background-color:transparent;
	border:1px solid black;
	padding:5px;
}

.template_view p,
.template p {
	margin:0px;
}

.template_view, 
.template_view p, 
.template_view span, 
.template_view li, 
.template_view table, 
.template_view tr, 
.template_view td  {
	font-family:inherit;
	font-size:inherit;
	color:inherit;
}

.edit_parent {
	font-size:15.5px;
    cursor:text;
}

#jsq_context_template,
#jsq_question_template,
#rub_rubric_template {
	font-size:15.5px;
}

.template,
.context_answer {
	font-size:14px;
}

/* Styling for variable placeholders */

span.block_variable,
div.block_variable {
	display:inline-block;
	line-height:1.2;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #555;
	border-radius:3px;
	white-space:nowrap;
}

/* Specific styling for variables */

.block_variable:not(.fontSizeVariable):not(.fontSizeVariableSmall):not(.rendered) {
	font-size:13px;
	padding:2px 3px;
}

.block_variable.fontSizeVariable {
	padding:2px 3px;
}

.block_variable.fontSizeVariableSmall {
	padding:1px 2px;
}

.block_variable.rendered {
	display:inline;
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
	border:none; 
	padding:0px;
}

/* Styling for rendered variables in equations */

.eqEdEquation .block_variable.rendered {
    font-family: 'MathJax_Main';
}

#sync_preview .block_variable {
	border-bottom:1px solid black; 
	padding:2px;
}

.preview_variable {
	display:none !important;
}

.equation {
	cursor:default;
	display:inline-block;
}

.equation *,
.block_variable,
.block_bigBlank {
	cursor:default;
    user-select: none; /* Standard syntax */
}

#outcomes_item>:first-child,
#question_preview_wrapper>:first-child {
	margin-top:0px;
}

#answerlist {
	vertical-align:top;
}

.answer_row td {
	cursor:default;	
}

#question_key_table {
	background:white;
	border:1px solid #d7d7d7;
	padding:10px;
	width:545px;
}

#question_key_table td {
	vertical-align:top;
	line-height:20px;
	padding:0px;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#494949;
}

.contextAnswers>div {
	margin-top:2px;
	vertical-align:top;
}

.contextAnswers .answer_label {
	margin-right: 5px;
	font-weight: bold;
}

tbody>tr>.answer_label_column {
	font-weight:bold;
	text-align:center;
}

.submenu,
.context_answer_block,
.type_block,
.contextAnswers {
	display:none;
}

#folder_questions td {
	padding: 7px;
}

#shortcuts_list li>span {
	display:inline-block;
	width:110px;
	font-weight:bold;
}

#dans_scientific_note {
	font-size:12px;
	margin:10px 5px;
	line-height:17px;
}

.dnr_answer_input .formErrorContent {
	width:270px;
}

.dnq_answer_wrapper {
	display:inline-block;
}
.dnq_answer_wrapper .formErrorContent {
	width:270px;
}
.dnq_answer_wrapper>* { vertical-align:middle; display:inline-block; margin-bottom:0px !important; margin-top:0px !important; }

#dans_answer_wrapper .formErrorContent {
	width:350px;
}

#editCommunity_dialog .policy_select {
	width:340px;
}

#editCommunity_dialog .policy_select:disabled,
#editCommunity_dialog input:disabled {
	color:#555;
}

#community_members_list {
	background-color:white; 
	width:258px; 
	height:175px; 
	border:1px solid #ccc; 
	padding:5px; 
	overflow-y:scroll;
}

#community_members_list.disabled,
#community_members_list.disabled * {
	cursor:not-allowed;
	background-color:white;
}

.members_header {
	cursor:default;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
	height:20px;
	padding:5px;
}

.members_row {
	display:flex;
	justify-content:space-between;
	align-items:center;
	cursor:default;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	height:20px;
	padding:5px;
}

.members_row div {
	flex:none;
}

.members_row:hover {
	background-color:#e7f4f9;
}

#move_policy_wrapper select {
	width:325px;
	margin-bottom:5px !important;
	display:block;
}

.index_body {
	width:100%; 
	height:auto; 
	background:rgb(255, 255, 255); 
	background:rgba(255, 255, 255, 0.7); 

	border-top-right-radius:0px; 
	border-top-left-radius:0px; 
	border-bottom-left-radius:5px; 
	border-bottom-right-radius:5px; 
	
	-moz-border-top-right-radius:0px; 
	-moz-border-top-left-radius:0px; 
	-moz-border-bottom-left-radius:5px; 
	-moz-border-bottom-right-radius:5px; 
	
	-webkit-border-top-right-radius:0px; 
	-webkit-border-top-left-radius:0px; 
	-webkit-border-bottom-left-radius:5px; 
	-webkit-border-bottom-right-radius:5px;
}

.export_row {
	padding:2px; 
	display:block;
}

.export_checkbox {
	width:15px;
	display:inline-block;
	vertical-align:middle;
}

.export_name {
	width:240px;
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	cursor:default;	
}

.build_warning_text li,
.build_note_text {
	font-size:13px; 
	font-family:Arial, Helvetica, sans-serif;
}

.folder_path {
	font-size:15px; 
	font-family:Arial, Helvetica, sans-serif;
}

.sort_wrapper {
	float: right !important;
    padding-right: 0px !important;
}

.sort_wrapper #sort_type {
	width:100px;
	padding:2px;
	vertical-align:middle; 
	margin:0px 0px 0px 5px; 
	height:24px;
    font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}

.sort_wrapper #show_limit {
	width:50px;
	padding:2px;
	vertical-align:middle; 
	margin:0px 0px 0px 5px; 
	height:24px;
    font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
}

.right_half {
	padding-left:0px;
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
}

.left_half {
	margin-right:0px;
	border-top-right-radius:0px; 
	border-bottom-right-radius:0px; 
}

.style_tag {
	width:auto;
	background-color:black;
	color:white;
	display:inline-block;
	padding:2px;
	margin-bottom:5px;
}

.code_container {
	white-space:pre-wrap;
	font-family:monospace;
	border:1px solid #ccc;
	background-color:#f5f5f5;
	padding:10px;
	border-radius:4px;
}

#item_statistics_wrapper .item_statistics_entry {
    break-inside: avoid;
    padding: 10px 20px;
}

#item_statistics_wrapper .part_statistics_label {
	display: inline-block;
	width: 110px;
}

.part_statistics_value {
	display:inline-block;
}

.printed_stats_wrapper {
	width:100%; 
	height:auto; 
	padding:10px; 
	margin-top:30px; 
	border:1px solid black;
	box-sizing:border-box;
}

.printed_stats_label {
	font-weight:bold;
	margin-bottom:5px;
}

#renewal_user_wrapper {
	width:100%; 
	height:auto; 
	background:rgb(255, 255, 255); 
	background:rgba(255, 255, 255, 0.7); 

	border-top-right-radius:0px; 
	border-top-left-radius:0px; 
	border-bottom-left-radius:5px; 
	border-bottom-right-radius:5px; 
	
	-moz-border-top-right-radius:0px; 
	-moz-border-top-left-radius:0px; 
	-moz-border-bottom-left-radius:5px; 
	-moz-border-bottom-right-radius:5px; 
	
	-webkit-border-top-right-radius:0px; 
	-webkit-border-top-left-radius:0px; 
	-webkit-border-bottom-left-radius:5px; 
	-webkit-border-bottom-right-radius:5px;
}

#renewal_user_table td {
	padding: 20px 10px;
}

.renewal_tab {
	cursor:default;
	display:inline-block;
	margin-right:5px;
	width:auto;
	height:auto;
	padding:8px;
	text-align:center;
	
	background:none;
	
	position:relative;
	top:1px;

	border:1px solid transparent;
	border-bottom:none;

	border-top-right-radius:5px; 
	border-top-left-radius:5px; 
	
	-moz-border-top-right-radius:5px; 
	-moz-border-top-left-radius:5px; 
	
	-webkit-border-top-right-radius:5px; 
	-webkit-border-top-left-radius:5px; 
}

.renewal_tab.selected {
	border:1px solid #ccc;	
	border-bottom:none;
	background:white;
}

.renewal_add_panel {
	height:auto;
	border:1px solid #ccc;
	border-top:none;
	background:white;

	border-bottom-right-radius:5px; 
	border-bottom-left-radius:5px; 
	
	-moz-border-bottom-right-radius:5px; 
	-moz-border-bottom-left-radius:5px; 
	
	-webkit-border-bottom-right-radius:5px; 
	-webkit-border-bottom-left-radius:5px; 
}

.renew_id {
	display:none;
}

.renew_email {
	width:240px;
}

.renew_name {
	width:160px;
}

.renew_school {
	width:auto;
}

.renew_expires {
	width:125px;
}

.renew_actions {
	width:15px;
}

.renew_new_user {
	background-color:#507d44;
	border-radius:5px;
	color:white;
	padding:5px 10px;
	display:inline-block;
	width:auto;
}

.renew_empty {
	font-style:italic;
}

.search_menu {
	display:none;
	padding:5px; 
	width:auto; 
	margin:2px 0 0; 
	font-size:14px; 
	background-color:white; 
	border:1px solid rgba(0, 0, 0, 0.2); 
	border-radius:6px; 
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2); 
	background-clip:padding-box; 
	position:absolute;
	right:0px; 
	left:auto; 
	top:100%; 
	z-index:1000;
}

.index_tag {
	background-color:#3a87ad;
	color:white;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:2px 4px;
	font-size:11px;
	display:inline-block;
}

.sub_panel_title {
	box-sizing:border-box;
	font-size:14px;
	padding:5px 7px;
	background-color:#ccc;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.sub_panel_content {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border:1px solid #ccc;
	margin-bottom:10px;
}

.sub_panel_content:last-child {
	margin-bottom:0px;
}

.item_sort {
	display:block; 
	font-size:8px; 
	cursor:pointer; 
	line-height:normal; 
	font-family:Arial, Helvetica, sans-serif;
}

.search_icon {
	position:absolute; 
	right:10px; 
	top:0px; 
	height:30px; 
	width:16px; 
	background-image:url('/img/default_layout/search_icon.svg'); 
	background-repeat:no-repeat;
	background-position:right center; 
	background-size: contain, cover;
	outline:0;
	cursor:pointer;
}

input.search_text {
	box-sizing:border-box;
	width:212px;
	height:30px;
	margin:0px;
}

.sync_row {
	width:100%;
	overflow:hidden;
}

.sync_tab {
	cursor:default; 
	display:inline-block; 
	width:auto; 
	height:20px; 
	line-height:20px; 
	margin-top:10px; 
	padding:5px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:15px; 
	margin-right:5px;
}

.sync_tab.selected {
	border:1px solid #ccc; 
	border-bottom:none; 
	background:rectwhite; 
	border-top-left-radius:5px; 
	border-top-right-radius:5px; 
}

.score_correct,
.score_wrong {
	position:absolute;
	top:0px;
	left:-35px;
	max-width:none;
	width:30px;
	font-family: icomoon !important; 
	font-size: 40px; 
}

.part_wrapper>.score_correct,
.part_wrapper>.score_wrong {
	top:20px;
	left:0px;
}

.score_omitted {
	position:absolute;
	top:-10px;
	left:-6px;
	max-width:none;
	width:35px;
	font-family: icomoon !important; 
	font-size: 35px; 
}

.score_correct { color: #20de00; }
.score_correct::after {
	content: "c";
}

.score_wrong { color: #fe0a00; }
.score_wrong::after {
	content: "w";
}

.score_omitted { color: #f3bf0c; }
.score_omitted::after {
	content: "o";
}

.score_value {
	position: absolute;
	cursor: default;
	top: -10px;
	left: -35px;
	max-width: none;
	font-family: icomoon !important; 
	font-size: 30px; 
}

table.noQuestions td:last-child {
	display: none;
}

#summary_wrapper td:first-child {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#summary_wrapper .td_score,
#summary_wrapper .td_latest,
#attempt_overview_wrapper .td_score {
	text-align: left;
}

#attempts_rows tr {
	cursor: default;
}

.attempt_select {
	margin-right:5px;
}

.namelines_wrapper {
	float:right;
	margin-right:5px;
}

.namelines_labels {
	display:inline-block;
	margin-right:5px;
}

.namelines_data {
	display:inline-block;
	font-weight:bold;
}

#inputs_form .data_label {
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
}

.nr_answer_field {
	position:relative;
}

.wr_answer_wrapper, 
.reasoning_wrapper,
.wr_comment_wrapper {
	margin-top: 20px;
	margin-right: 3px;
}

.student_view .wr_input_field {
	position: relative;

	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 10px;
	margin: 10px 0px 0px; 
	min-height: 100px; 
	color: #555;
	fill: #555;
	font-size:14px;

	border:1px solid #ccc; 
	border-radius:5px;

    user-select: text;
}

.student_view .wr_input_field[disabled] {
	cursor: default;
	background-color: #eeeeee;
}

.wr_comment_wrapper .wr_input_field {
	background-color: rgba(7, 142, 228, 0.2);
	border: 4px solid rgba(7, 142, 228, 1.0);
	border-radius: 7px;
}

.edit_parent .wr_input_field {
	border:none;
}

.student_view .edit_parent.inactive .wr_input_field:hover {
	background-color: #e9f4f9;
}

.wr_answer_list {
    display:none;
}

#item_score_wrapper {
	display: grid;
	row-gap:5px;
	justify-items: start;
	align-items: center;
	grid-auto-columns: max-content;
	grid-auto-rows: max-content;
}

.item_score_row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.item_score_element {
	flex: none;
	position: relative;
}

.item_score_element input {
	display: none;
}

.item_score_element::before {
	content: " ";
	position: absolute;
	height: 1px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #aaa;
}

.item_score_element.first::before {
	width: 50%;
	transform: translate(0%, -50%);
}

.item_score_element.last::before {
	width: 50%;
	transform: translate(-100%, -50%);
}

.item_score_label {
	position: relative;
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 1px solid #888;
	color: #555;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	font-size: 12px;
}

.item_score_element.half_mark .item_score_label {
	border-color: #aaa;
}

.item_score_element.half_mark .item_score_label * {
	font-size: 9px;
}

.item_score_element.half_mark .item_score_label:not(:hover) * {
	display: none;
}

.item_score_label:hover {
	transform: scale(1.3);
}

.item_score_label:hover *,
.item_score_element.half_mark.selected .item_score_label * {
	display: block;
}

.item_score_element.selected .item_score_label {
	background-color: #0A6DFE;
	color: white;
}

.invoice_table {
	border:1px solid black;
}

.invoice_table td {
	padding: 3px 9px;
	text-align: right;
	border: 1px solid #d7d7d7;	
	background-color: white;
	color: #153b58;
	font-size: 13px;
	vertical-align: top;
}

.invoice_table thead tr:first-child td {
	border-top:none;
}

.invoice_table tr:last-child td {
	border-bottom:none;
}

.invoice_table td:first-child {
	border-left:none;
}

.invoice_table td:last-child {
	border-right:none;
}

.invoice_table thead tr {
	border-bottom: 1px solid black;
}

.invoice_table td:first-child {
	text-align: left;
}

.invoice_table thead td {
	font-weight: bold;
}

#group_payment_details {
	background-color: transparent;
}

#group_payment_details td {
	border: none;
	padding: 3px 5px;
	color: #343434;
}

#receipt_content * {
	font-family: Arial, Helvetica, sans-serif;
	color: black !important;
}

#receipt_content p {
	margin-bottom: 20px;
}

#bad_email_list {
	width:100%; 
	height:auto; 
	min-height:100px;
	box-sizing:border-box; 
	background:white; 
	border: 1px solid #cccccc; 
	padding:4px 6px; 
	border-radius:4px; 
}

#bad_email_list * {
	font-family:'Arial'; 
	font-size:12px; 
	color:#555555; 
}

#new_email_table thead *,
#new_email_table .new_email_name,
#new_email_table .new_email_email {
	font-family:'Arial'; 
	font-size:12px; 
	color:#555555; 
}

#new_email_table td {
	padding: 8px;
}

#userData tr.bounced_email {
	background: #f7baba;
}

.status_pip {
	height:16px;
	width:16px;
	flex:none;
	margin-right:5px;
	background-size:cover;
}

.suppress_inputs .nr_answer_field,
.suppress_inputs .wr_answer_wrapper,
.suppress_inputs .reasoning_wrapper,
.suppress_inputs .wr_comment_wrapper,
.suppress_inputs .response_checkbox {
	display: none;
}

.suppress_inputs .response_checkbox+.response_old_label {
	display: inline;
}

#results_menu {
	width:100%;
	box-sizing:border-box;
}

#results_menu a {
	font-size:12px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px !important;
	height: 24px !important;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border-radius: 12px;
}
  
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	border-radius: 50%;
}

input + .slider::after {
	content:"Hidden";
	position:absolute;
	width:100px;
	margin-top:2px;
	margin-left:5px;
	text-align:left;
	font-size:13px;
}
  
input:checked + .slider::after {
	content:"Will show";
}
  
input:checked + .slider {
	background-color: #5dbf44;
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.item_check {
	display:inline-block;
	width:15px;
	color: #5dbf44;
}

li.ui-state-active .item_check {
	color:white;
}

.tok_link {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.table_internal_heading {
	color: #222;
	font-weight: bold;
}

.tab_button {
	cursor:pointer;
}

.column_sort {
	font-size:8px;
	cursor:pointer;
}

#image_view_panel {
	background:white;
    position: fixed;
	z-index:9999;
	height:75%;
	width:75%;
	min-width:290px;
	border-radius:5px;
	overflow:hidden;
}

#image_view_bar {
	position:absolute;
	display:flex;
	justify-content:space-between;
	box-sizing:border-box;
	width:100%;
	height:auto;
	z-index:1;
	font-size:0px;
}

.image_view_button { 
	height: 50px;
	width: 50px;
	padding: 0px;
	margin: 0px;
	border: none;
	cursor: pointer;
	overflow:visible;
}

#image_view_wrapper {
	height:100%;
	width:100%;	
	overflow:auto;
	z-index:0;
	background-color:black;
}

#image_view_wrapper img {
	max-width:none;
	max-height:none;
}

.stats_table,
.template_view .stats_table {
	border-collapse: separate;
	border-spacing: 0 2px;
}

.stats_table td,
.template_view .stats_table td {
	border: none;
	padding: 0px;
	overflow: hidden;
}

.stats_table_element,
.template_view .stats_table_element {
	display: none;
}

.stats_show_more,
.template_view .stats_show_more {
	color: #0088cc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
}

.stats_show_more:hover {
	color: #064e12;
	text-decoration: underline;
}

#variables_table {
	display: grid;
	grid-auto-columns: max-content;
	grid-column-gap: 15px;
	grid-auto-rows: auto;
	grid-row-gap: 5px;
	align-items: start;
}

#student_events_reset {
	position: absolute;
	display: none;
}

.legend_wrapper {
	position: absolute; 
	display: grid; 
	grid-template-columns: 15px auto; 
	grid-auto-rows: 15px; 
	grid-gap: 5px; 
	justify-items: start; 
	align-items: center; 
	background:white; 
	border:1px solid black; 
	padding:3px; 
	cursor:default;
}

.legend_block {
	grid-column: 1; 
	width: 100%; 
	height: 100%; 
}

.legend_text {
	grid-column: 2; 
	font-size: 12px;
}

.wr_previous,
.item_previous {
	padding: 4px 12px 4px 9px;
}

.wr_next,
.item_next {
	padding: 4px 9px 4px 12px;
}

.checkbox_arrow {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 19px;
	background-image: url('/img/default_layout/checkbox_arrow.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.tab_icon {
	height: 30px;
	width: 100%;
	position: absolute;
	top: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain, cover;
}

.tab_text {
	width: 100%;
	position: absolute;
	text-align: center;
	top: 50px;
}

.csv_select_element .csv_select_input {
	vertical-align: middle;
	margin: 0px;
}

.csv_select_element .csv_select_label {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px;
	font-size: 14px;
}

#include_list {
	display: grid;
}

#csv_layout {
	box-sizing: border-box;
	width: 100%;
	height: auto;
	background: white; 
	display: flex;
	flex-direction: row;
	overflow-x:scroll;
}

.csv_layout_empty {
	width: 100%;
	height: 20px;
	padding: 5px; 
	border: 1px solid #d7d7d7;
	font-size: 14px; 
	font-style: italic
}

.csv_layout_column {
	flex: 1 1 100%;
	border: 1px solid #555;
	font-size: 14px; 
	cursor: default;
	user-select: none;
	max-width: 100%;
	min-width: 25%;
}

.csv_layout_column:not(:first-child) {
	border-left: 1px solid #d7d7d7;
}

.csv_layout_column:not(:last-child) {
	border-right: none;
}

.csv_layout_element {
	padding: 5px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.csv_layout_element:first-child {
	font-weight: bold;
	cursor: move;
}

.csv_layout_element:not(:first-child) {
	border-top: 1px solid #d7d7d7;
}

.index_actions {
	display:inline-block;
}

.tab_right {
	display:none;
	float:right;
	margin-right:40px;
}

.question_details_wrapper {
	display: none;
}

.question_options_wrapper {
	display: grid; 
	grid-template-columns: auto 1fr;
	align-items: start;
	column-gap: 30px;
}

.question_options_wrapper label,
.question_options_wrapper input,
.question_options_wrapper select {
	margin: 0px;
}

.question_options_wrapper label {
	text-align: left;
	padding: 0px;
}

.question_options_left {
	grid-column: 1/1;
	width: auto; 
}

.question_options_left .options_grid {
	width: auto; 
	display: grid;
	grid-template-columns: 50px 150px;
	align-items: center;
}

.question_options_left .option_label {
	grid-column: 1/1;
	width: auto;
}

.question_options_left .option_input {
	grid-column: 2/2;
}

.question_options_left .option_combined {
	grid-column: 1/2;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.question_options_right {
	grid-column: 2/2;
}

.question_options_right .option_checkbox_row {
	flex: none;
	width: 100%;
	height: auto;
	min-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
}

.option_checkbox_left input[type='checkbox'] {
	margin-right: 5px;
}

.option_checkbox_left *,
.option_checkbox_right * {
	display: inline-block;
	vertical-align: middle;
}

.outcomes_list_wrapper {
	padding: 3px;
	border: 1px solid transparent;
}

#edit_outcomes_list {
	border: 1px solid #bbb;
	overflow-y: scroll;
	height: auto;
	max-height: 188px;
}

#editOutcomes_dialog .edit_outcomes_area {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 13px;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	resize: none;
	margin: 0px;
	overflow-y: hidden;
}

#editOutcomes_dialog .edit_outcomes_input {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 13px;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.outcomes_edit_row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	margin-right:25px;
}

.outcomes_edit_row:not(:last-child) {
	margin-bottom: 5px;
}

.outcomes_edit_empty {
	display: table-cell;
	vertical-align: middle;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 13px;
	font-style: italic;
	height: 30px;
	width: 100%;
	padding: 0px 6px;
}

.edit_outcomes_input {
	flex: 1 1 100%;
}

.outcomes_edit_row .actions_button {
	flex: none;
	width: 15px;
	position: relative;
	top: 8px;
}

#outcomes_copy {
	font-size: 12px;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	text-decoration: underline;
	color: #0066CC;
	cursor:pointer;
	margin-left:5px;
}

.right_panel {
	display: none;
}

#dmcq_answer_list .key_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	min-height: 30px;
	margin-bottom: 3px;
}

.mcq_detail_response { display:inline-block; width:50px; margin-bottom:5px;}
.mcq_detail_response>* {vertical-align:middle; display:inline-block; margin-bottom:0px !important; margin-top:0px !important; }
.mcq_detail_response>label { width: 15px; text-align:right; }
.mcq_detail_response>input { background-color: #e8f0f6 !important; }

.edit_wrapper_teacher {
	display: none;
}

.question_set_reveal {
	width: 20px;
}

.question_set_reveal:after {
	font-size: 12px;
	content: '\25b7';
}

.question_set_reveal.selected:after {
	font-size: 9px;
	content: '\25e2';
}

.question_set .menu_text {
	font-weight: bold;
}

.items_menu .child_item {
	margin-left: 30px;
}

#set_questions_table td {
	border-bottom:1px solid #d7d7d7; 
	border-top: none;
	padding: 7px;
	cursor: default; 
}

#set_questions_table .set_question_name {
	width: 85%;
}

#set_questions_table .set_question_actions {
	width: 15%;
	text-align: right;
}

#set_questions_table {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px; 
	color: #75797c;
	background: none;
	border: none;
	border-spacing: 0px;
}

.page_loaded {
    display:none;
}

.stats_indicator {
    font-size: 18px;
    position: absolute; 
    transform: translate(-50%, -60%); 
    -webkit-transform: translate(-50%, -60%);
    cursor: default;
}

#dans_answer_rows {
    max-height:300px;
    overflow-y:auto;
    padding-right:20px;
}

#dans_answer_rows .answer_wrapper>* {
    position: relative;
}

#dans_answer_rows .answer_template {
    height: auto;
    min-height: 30px;
    box-sizing: border-box;
    background: white;
}

#dans_answer_rows .answer_score>input {
    box-sizing: border-box; 
    height: auto;
    margin: 0px; 
    padding: 9px; 
    font-size: 15.5px; 
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    border-radius: 5px;
}

#dans_answer_rows .answer_label {
    font-weight: bold;
    height: auto;
    margin: 0px; 
    padding: 0px; 
    font-size: 15.5px; 
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    text-align: left;
}

.rubric_row_wrapper {
    margin-bottom: 10px;
}

.rubric_row_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rubric_row_title div {
    display: inline-block;
}

.rubric_row_reveal {
	width: 20px;
}

.rubric_row_reveal:after {
	font-size: 12px;
	content: '\25b7';
}

.rubric_row_reveal.selected:after {
	font-size: 9px;
	content: '\25e2';
}

.rubric_column_wrapper {
    width: 100%;
}

.rubric_column_title {
    margin-bottom: 5px;
}

.rubric_row_columns {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
    gap: 10px;
}

.smart_edit_control {
    display: none;
}

#fill_outcomes_wrapper {
    width: 100%;
    padding: 10px;
    box-sizing:border-box;
    overflow-y: auto;
    background: white;
}

.fill_outcomes_row {
    width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.fill_outcomes_name {
    flex: 1 1 0px;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.fill_outcomes_count {
    flex: none;
    width: 30px !important;
    margin: 0px !important;
}

#suggestion_list {
    padding: 5px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

.suggestion_header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px; 
    padding: 3px;
	cursor: default;
}

.suggestion_row {
    padding: 3px;
	cursor: pointer;
	user-select: none;
}

.suggestion_row:hover {
    background: #eee;
}

.example_blank {
    display: inline-block;
    border-bottom: 1px solid black; 
    width: 50px;
    position: relative;
    top: 2px;
}

.scored_responses_row {
    width: 100%;
    display: flex;
	flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#student_reports {
    display: flex;
    flex-direction: column;
}

.student_report_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #333333;
}

.student_report_title {
    margin-top: 50px; 
    margin-bottom: 10px; 
    display: flex; 
    justify-content: space-between; 
    gap: 0.5in;
    width: 100%;    
}

.student_report_header {
    flex: 0 0 auto;
    width: auto;
    padding: 4px;
    font-variant: small-caps;
    color: white;
    background: #333333;
}

.student_report_body {
    flex: 1 1 100%;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #333333;
}

.student_results_table {
    display: grid;
}

.student_results_table>.header {
    border-bottom: 1px solid #333333;
}
.student_results_table>div {
    display: grid;
    padding: 0.2em 0.3em;
}

.student_results_table>div.incorrect {
    background-color: #ddd;
}

.student_outcomes_table {
    padding: 0.3em;
    display: grid;
    grid-template-columns: 1fr; 
    grid-auto-columns: auto;
    column-gap: 1em;
    row-gap: 0.3em;
}

.student_responses_response,
.student_responses_answer {
	font-family: 'CMU Typewriter Text', 'Courier New', serif;
}

.edit_bar {
    cursor: default;
}

.index_resizer {
    cursor: ew-resize;
    background: #aaa;
    width: 3px;
    position: relative;
    z-index: 1;
}

.index_resizer::after {
    content: '\2B0C';
    color: rgb(108, 122, 133);
    font-size: 45px;
    position: absolute;
    left: 50%;
    top: 17px;
    transform: translate(-50%, -50%) scale(1.0, 0.7);
    border-radius: 4px;
}

.noselect {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

#item_statistics_data .question_number:not(:first-child) {
    margin-top: 30px;
}

.set_results_table {
    display: grid; 
    grid-template-columns: minmax(auto, 1fr) auto; 
    align-items: center; 
    gap: 10px; 
    padding: 10px; 
    background-color: white;
}

.set_results_table .button_wrapper {
    justify-self: end;
}

.step_wrapper {
    height:100%;
    width:100%;
    box-sizing: border-box;
    padding: 10px;
    white-space: normal;
}

.class_list_row {
    display: flex;
    width: auto;    
}

.class_list_header {
    flex: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 5px;
    background: #ccc;
    font-size: 13px;
}

.class_list_body {
    flex: none;
    box-sizing: border-box;
    padding: 2px 5px;
    font-size: 13px;
    border: 1px solid #eee;
    white-space: nowrap;
}

.columns-menu {
    right: 0;      /* Aligns the menu to the right */
    left: auto;    /* Prevents the left alignment from affecting the position */
}

.columns-menu-row {
    line-height: 20px;
    padding: 3px 20px;
    color: #333333;
    white-space: nowrap;
}

.columns-menu-row:hover {
    background-color:#0e7ac0;
}

.columns-checkbox {
    display: inline-block;
    margin: 0px !important;
}

.columns-label {
    display: inline-block;
    margin: 0px 0px 0px 5px !important;
}

#class_list_wrapper {
    height: 200px; 
    width: 100%; 
    border: 1px solid #cccccc; 
    border-radius: 4px; 
    background: white; 
    overflow-y: auto;
}

#class_list_wrapper .list_row {
    box-sizing: border-box;
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    padding: 2px 5px; 
    font-size: 13px;
    cursor: default;
}

#class_list_wrapper .list_header {
    box-sizing: border-box;
    width: 100%;
    padding: 2px 5px; 
    font-size: 13px;
    cursor: default;  
    background: #eee;  
}

#class_list_wrapper .list_header:not(:first-child) {
    margin-top:10px;
}

#class_list_wrapper .list_row:not(.disabled):hover {
    background:#e7f4f9;
}

.assessment_note {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 10px 5px 10px;
	background-color: rgba(7, 142, 228, 0.2);
	border: 1px solid #bbb;
}

.label_fill_list {
    min-width: 0px;
}

.label_fill_list .fill_option {
    font-size: 12px;
    padding: 0px 10px;
}

.annotation_set_type {
	display: flex; 
	align-items: center; 
	cursor: pointer;
	padding: 3px;
	gap: 8px;
}

.annotation_set_type:hover {
	background:rgba(0, 0, 0, 0.05); 
}

.annotation_set_type img {
	padding:0px;
	background:#eee;
	border: 1px solid #888;
	border-radius: 5px;
}

.annotation_set_type.selected {
	background:rgba(0, 0, 0, 0.1); 
}

.annotation_set_type.selected img {
	background:#bbb;
}

.annotation_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.question_wrapper:not(.drawing) .annotation_wrapper {
	pointer-events: none;
}

.annotation_wrapper[data-tool-name="pen"] path {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	vector-effect: non-scaling-stroke;
	z-index: 5;
}

.annotation_wrapper[data-tool-name="highlighter"] path {
	fill: none;
	opacity: 0.5;
	stroke-linecap: butt;
	stroke-linejoin: round;
	vector-effect: non-scaling-stroke;
	z-index: 6;
	mix-blend-mode: multiply;
}

.annotation_colour {
	display: none;
}

.annotation_set_type.selected .annotation_colour {
	display: flex;
	align-items: center;
	gap: 5px;
}

.annotation_set_type .annotation_colour_input {
	flex: none;
	width: 24px;
	height: 24px; 
	margin: 0px; 
	padding: 2px;
}

.annotation_icon {
	flex: none;
	width: 24px;
	height: 24px;
}

.question_wrapper.drawing,
.question_wrapper.drawing * {
	user-select: none;
	cursor: crosshair;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

.html_drawing {
	position: relative;
	box-sizing: border-box;
	cursor: default;
	display: inline-block;
}