/**************************************************************************************************/
/* SmarterMarks HTML editor: WYSIWIG editor for SmarterMarks                                      */
/* Copyright (C) 2018 Jason Cooper                                                                */
/*                                                                                                */
/* This program is free software; you can redistribute it and/or modify it under the terms of the */
/* GNU General Public License as published by the Free Software Foundation; either version 3 of   */
/* the License, or (at your option) any later version.                                            */
/*                                                                                                */
/* You should have received a copy of the GNU General Public License along with this program; if  */
/* not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  */
/* 02110-1301 USA                                                                                 */
/**************************************************************************************************/

@page { 
	size: auto;
	margin: 0.5in;
}

.info_button {
	display: none;
}
