<!--
SmarterMarks
Copyright (C) 2012-2025 SmarterMarks Inc.

This program is free software; you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation; either version 3 of
the License, or (at your option) any later version.

You should have received a copy of the GNU General Public License along with this program. If
not, see <http://www.gnu.org/licenses/>
-->

<script>
document.getElementById("topicHeader").innerHTML="Combined item statistics"
</script>

<h1>Combined item statistics</h1>

<p>In addition to the statistics included in the <?php echo $this->Html->link('teacher report', array('controller' => 'help', 'action' => 'view', 'assessment_reports'));?> for each scan, for assessments built on SmarterMarks, it is possible to access the combined statistics for several versions, classes, and even years of responses. To view the statistics for an assessment, open the assessment from the "Assessment Templates" tab and choose "Assessment Statistics" from the view pane at the top left:</p>

<img src="<?php echo $imagePath; ?>/assessment_statistics_button.png" />

<p>This will open the assessment statistics for the assessment:</p>

<img src="<?php echo $imagePath; ?>/assessment_statistics.png" />

<p>At the top of the statistics view, you can set filters for the data to be displayed. These include:</p>

<ul>
<li><b>Filtering by date</b>, to include only scans that were uploaded after a given date;</li>
<li><b>Filtering by user</b>, to include only scans you uploaded; and</li>
<li><b>Filtering by assessment</b>, to include only scans for the current assessment. Note that this is defined the questions included in the assessment -- if any questions have been added, removed, or edited since a scan was uploaded, that scan will be excluded by choosing this filter.</li>
</ul>

<p>To apply changes to any of these settings, click the "Update statistics" button:</p>

<img src="<?php echo $imagePath; ?>/assessment_statistics_update.png" />

<p>Below the filters, assessment statistics will be shown when they have loaded. These statistics include an average score, difficulty distribution, and discrimination generated from all data that is included by the filters above. For more information on using difficulty and discrimination to improve assessments, see the tutorial video below:</p>

<iframe width="480" height="270" style="border:5px solid white; margin:10px 23px;" src="https://www.youtube.com/embed/LkMErsoLAhI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</p>

<p>Because these statistics are generated from those of the individual items, they can be created even for assessments that have not yet been given to students, provided that some or all of the items in the assessment have, and can be used to improve assessments before they are given as well as after.</p>

<p>Below the assessment statistics, item statistics are given for the item selected from the list on the left:</p>

<img src="<?php echo $imagePath; ?>/assessment_item_statistics.png" />

<p>Like the assessment statistics, these are generated from the data included by your chosen filters. For each part of the selected item, they include average score and discrimination, as well as a response distribution for multiple choice questions or numeric response questions with more than one scored answer.</p>

<p>In addition to the interactive statistics view described above, a printed report can be generated by clicking the "Print" button at the top right of the statistics view:</p>

<img src="<?php echo $imagePath; ?>/assessment_statistics_print.png" />

<p>The printed report summarizes the assessment and item statistics, including the items themselves, for easy review.</p>
