/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../font/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0_woff") format("woff");
}