.context_header {
    display:none;
}

.context_wrapper {
    width:100%;
    border:none;
    padding:35px 5px 5px;
    margin:0px;
}

.context_wrapper {
    flex-wrap: nowrap;
}

.context_text {
    box-sizing:border-box;
}

.context_question {
    box-sizing:border-box;
    padding-left:35px !important;
    width:100%;
}

.context_question .wr_answer_wrapper, 
.context_question .reasoning_wrapper,
.context_question .wr_comment_wrapper {
	margin-left: -30px;
}

.item_separator {
    display:none;
}