.context_header {
    width:100%;
    font-style:italic;
    text-align:center;
}

.context_wrapper {
    box-sizing:border-box;
    width:100%;
    border:solid black 1px;
    padding:10px;
    margin:10px 0px 2px;
}

.context_wrapper .question_number {
    display:none !important;
}

.context_text {
    padding-left:0px;
}